/**
* optician
* @author kyle
* @version 1.0
*/

/* ============================ WORKSPACE ============================ */
body {
  font-family: 'Pretendard Regular', serif !important;
}

.optician {
  width: 260px;
  position: relative;
  margin-left: 30px;
}

.container-optician {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-navs .nav .nav-link {
  padding: 1.2rem !important;
}

.btn {
  font-size: 14px !important;
}

.card-img-top {
  display: flex;
  width: 100%;
  height: 160px;
  background-image: linear-gradient(
    65.9deg,
    rgba(85, 228, 224, 1) 5.5%,
    rgba(75, 68, 224, 0.74) 54.2%,
    rgba(64, 198, 238, 1) 55.2%,
    rgba(177, 36, 224, 1) 98.4%
  );
  color: white;
  align-items: end;
  padding: 1rem;
}

.imagecheck-figure {
  border: none !important;
}

.human {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(../images/human.png);
}

.address {
  height: 51px;
}

.icon-address {
  margin-top: 5px;
}

.text-address {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.row-optician-signup {
  width: 100%;
  justify-content: center;
}

.wrapper-optician {
  min-height: unset !important;
  justify-content: normal !important;
}

.show-search {
  position: absolute;
  right: 18px;
  top: 18px;
  font-size: 14px;
  cursor: pointer;
}


@media screen and (max-width: 579px) {
    .optician {
        width: 260px;
        position: relative;
        margin: auto;
    }
}