<!--
Description:
User: VNG
Date: 2021-11-02
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--configCssFragment 선언-->
    <th:block th:fragment="configCssFragment">
        <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
        <!-- css -->
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
        <link rel="stylesheet" th:href="@{/css/common/atlantis.min.css}" />
        <link rel="stylesheet" th:href="@{/css/common/custom.css}" >
        <!-- Content Page의 CSS fragment 삽입 -->
        <th:block layout:fragment="css"></th:block>
    </th:block>
</html>