<!--
Description:
User: VNG
Date: 2022-05-10
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <title>CONNECT-EYE</title>

    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
    <link rel="stylesheet" th:href="@{/css/common/error.css}" />
</head>
<body>
    <div id="errorWrap">
        <div class="error-container">
            <span class="circle-close" onclick="history.back()"></span>
            <span class="error-img mb-5"></span>
            <span class="error-text">잘못된 요청이에요. 다시 시도 해 주세요.</span>
        </div>
    </div>
</body>
</html>