/**
* CUSTOM Override
* @author kyle
* @version 1.0
*/

/* ============================ CUSTOM ============================ */
.connect-eye-logo {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../../images/logo.png) no-repeat;
  background-size: 100%;
  border-radius: 4px;
}

.logo-header {
  padding-left: 20px;
}

select {
  -webkit-appearance: none;
  background: url(../../images/select-arrow.png) no-repeat right 9px center;
}

footer {
  position: absolute;
  width: 100%;
}

.table-grid {
  width: 100%;
  min-height: 527px;
}

.main-panel {
  overflow: hidden;
}

.main-panel > .content {
  position: relative;
  width: 100%;
  max-height: calc(100% - 123px);
}

.overflow-hidden {
  overflow: hidden;
}

.result-cnt {
  color: crimson;
}

.badge.rounded-pill {
  border: none;
  color: #fff;
  font-size: 12px;
}

.result-select {
  position: relative;
  display: inline-flex;
  width: 60px;
  align-items: center;
}

.result-select select {
  height: 22px;
}

.result-select span,
.result-select select {
  font-size: 12px;
  flex-shrink: 0;
}

.list-group-item {
  margin-bottom: -1px;
}

.card-title {
  font-weight: bold;
}

.result-select .form-control {
  padding: 0 0.5rem;
}

.nav-search .search-icon {
  font-size: 14px;
}

.no-search {
  cursor: pointer;
  text-decoration: underline;
}

#search-nav {
  max-width: 300px;
  transition: all 0.4s;
}

#search-nav.focus {
  max-width: 400px;
}

#search-nav.focus .nav-search .input-group {
  background-color: white !important;
}

#search-nav.focus .nav-search .input-group input,
#search-nav.focus .nav-search .input-group i {
  color: inherit !important;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

.sales-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table td,
.table th {
  max-width: 24px;
  padding: 0;
  height: 40px;
  color: #575962;
}

.table th {
  border-bottom-width: 1px !important;
  font-weight: normal !important;
}

.table-head-bg-info thead th {
  background: #f9f9f9 !important;
  color: #222 !important;
  font-weight: bold !important;
}

.table-head-bg-info thead {
  border: 1px solid #eee !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.barcode-scanner-wrapper {
  position: absolute !important;
  display: none;
  top: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  z-index: 1100;
}

.barcode-scanner-wrapper .is-loading {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.48);
}

.barcode-scanner-wrapper .header {
  position: absolute;
  display: flex;
  font-size: 16px;
  color: white;
  width: inherit;
  height: 62px;
  padding: 0 1.5rem;
  background-color: #1e1e1e;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}

.barcode-scanner-wrapper .header .title {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.barcode-scanner-wrapper .header span:first-child {
  cursor: pointer;
  position: absolute;
}

#barcodeScanner {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

#barcodeScanner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#qr-shaded-region {
  top: -5px !important;
}

.is-loading-white,
.is-loading-white:after {
  border-color: white !important;
}

.is-loading-white:after {
  border-bottom-color: transparent !important;
}

.total-pur-container,
.total-cash-container,
.total-sales-container,
.total-cash-update-container {
  position: relative;
}

#supplierList {
  position: relative;
  height: calc(100% - 29px);
}

.supplier-list {
  position: relative;
  width: 100%;
  height: calc(100% - 178px);
}

.supplier-list.sales-status {
  height: calc(100% - 88px);
}

.supplier-list .table {
  position: absolute;
}

.icon-stock-status {
  font-size: 20px;
}

.col-flex {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.member-optician {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.member-count {
  position: relative;
  color: #000;
}

.cust-list {
  margin-bottom: 0.9rem;
}

.cust-list:last-child {
  margin-bottom: 0;
}

.cust-info {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cust-product-picture {
  position: relative;
  width: 129px;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.7rem;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 0 8px #f9f9f9;
  cursor: pointer;
}

.cust-product-picture img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cust-product-hover {
  position: absolute;
  display: none;
  font-size: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.4);
}

.cust-product-picture:hover .cust-product-hover {
  display: flex;
}

.cust-empty {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cust-empty i {
  font-size: 20px;
}

.input-group-append.search,
.input-icon-addon,
.download-template {
  cursor: pointer;
}

.form-group-icon {
  top: -1px !important;
  right: 27px !important;
}

.table-optometry td input {
  text-align: center;
}

#optometrySalesInfo textarea#memo {
  height: 164px;
}

#optometrySalesInfo textarea {
  height: 62px;
  resize: none;
}

.cust-search-icon {
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
}

.pointer-event {
  pointer-events: none;
}

#supRegTableWrap {
  height: 100%;
}

.input-group-text.cust {
  width: 100px;
  background-color: #f9f9f9;
}

.optometry-history-info {
  position: relative;
  height: 257px;
  overflow-y: hidden;
}

.optometry-history-info li {
  cursor: pointer;
}

.optometry-history-nodata {
  position: relative;
  display: flex;
  width: inherit;
  height: inherit;
  color: #ccc;
  justify-content: center;
  align-items: center;
}

input.pay-info[readonly] {
  background-color: transparent !important;
  opacity: 1 !important;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  z-index: 0;
}

.total-rcv-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* ============================ FORM ============================ */
.form-switch {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.label-toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.label-toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9a9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.label-toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.label-toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(21, 114, 232, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.form-switch input.switch {
  display: none;
}

.form-switch input.switch:checked + .label-toggle:before {
  background: rgba(21, 114, 232, 0.2);
}

.form-switch input.switch:checked + .label-toggle span {
  background: #1572e8;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(21, 114, 232, 0.2);
}

.form-switch input.switch:checked + .label-toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.form-group {
  padding: 6px 2px;
}

.form-floating-label .placeholder {
  top: 8px;
}

.form-buttons {
  float: right;
}

.form-control:focus {
  border-color: #3e93ff !important;
}

.form-check label,
.form-group label {
  font-family: "Pretendard Medium", serif;
  font-weight: normal;
}

/* ============================ BUTTON ============================ */
.buttons {
  position: relative;
  float: right;
  width: auto;
  height: auto;
  padding: 6px 0 6px 2px;
}

.btn-select {
  position: relative;
  display: flex;
  width: 70px;
  height: 35px;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  background-color: #2e2e2e !important;
}

.btn-custom {
  font-family: "Pretendard Medium", serif;
  font-size: 12px;
  height: 22px;
  color: #2e2e2e;
  border-color: #2e2e2e;
  padding: 1px 10px;
}

.btn-custom:hover,
.btn-custom-3:hover,
.btn-custom-3.active {
  color: #fff !important;
  background-color: #2e2e2e !important;
}

.btn-custom-3:disabled {
  border-color: #e8e8e8;
}

.btn-custom-2 {
  position: relative;
  display: inline-flex;
  font-size: 14px;
  width: 70px !important;
  height: 35px;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  background-color: #2e2e2e !important;
}

.btn-custom-3 {
  position: relative;
  display: inline-flex;
  font-size: 14px;
  width: 70px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid #2e2e2e;
  background-color: #fff;
  transition: 0.2s;
}

.btn-prev {
  font-size: 18px;
  cursor: pointer;
}

.btn-excel {
  width: 100px !important;
}

.btn-barcode,
.btn-save,
.btn-modify {
  position: relative;
  display: flex;
  font-size: 14px;
  width: 100%;
  height: 35px;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-calendar,
.btn-calendar-2,
.btn-filter-reset {
  cursor: pointer;
}

/* ============================ TOAST PAGINATION ============================ */
.tui-pagination .tui-page-btn {
  width: auto;
  min-width: 28px;
}

/* ============================ TOAST GRID ============================ */
.tui-grid-container,
.tui-grid-container p {
  font-family: "Pretendard Regular", serif !important;
}

.tui-grid-cell {
  border-width: 0 !important;
}

.tui-grid-cell img {
  width: 60px;
  height: 60px;
  cursor: zoom-in;
  object-fit: cover;
}

.tui-grid-cell-header {
  background-color: #f9f9f9 !important;
}

.tui-grid-cell .fas.fa-times {
  font-size: 18px;
  cursor: pointer;
  padding-top: 2px;
}

.tui-grid-layer-state-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding: 0 !important;
}

.tui-grid-layer-state p {
  position: relative !important;
  display: flex;
  top: 0 !important;
  margin: 0 !important;
}

.tui-grid-layer-state-loading {
  position: relative;
  display: flex !important;
}

.tui-grid-frozen-border {
  background-color: #f9f9f9 !important;
}

.tui-grid-cell-summary[data-column-name="price"],
.tui-grid-cell-summary[data-column-name="amount"] {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  padding: 0;
}

.tui-grid-cell-summary[data-column-name="amount"] {
  left: 12px;
}
.tui-grid-row-hover > .tui-grid-cell {
  cursor: pointer;
}
/* ============================ TOAST TREE ============================ */
.tui-tree-wrap {
  width: 100% !important;
  padding: 10px 0 !important;
  background-color: transparent !important;
}

.tui-tree-root > li > div {
  padding: 0 12px !important;
}

.tui-tree-content-wrapper {
  width: 100% !important;
}

/* ============================ SWEET ALERT ============================ */
.swal2-show {
  -webkit-animation: unset !important;
  animation: unset !important;
}

/* ============================ SELECT2 ALERT ============================ */
.select2-container {
  display: block !important;
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  font-size: 14px !important;
  border-color: #ebedf2 !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 0.4rem 1em !important;
}

.select2-selection__rendered {
  line-height: unset !important;
  padding-left: 0 !important;
}

.select2-selection__arrow {
  top: 0 !important;
  width: 35px !important;
  height: 100% !important;
}

.select2-dropdown,
.select2-search__field {
  border-color: #ebedf2 !important;
}

.select2-search__field:focus {
  border-color: #3e93ff !important;
}

.select2-results__option {
  color: #999;
}

.select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: #e8e8e8 !important;
  opacity: 0.6;
}

.swal2-container.swal2-center > .swal2-popup {
  transition: 0.2s;
  height: auto;
}

.swal2-input {
  font-size: 1em !important;
}

.custom-file-container {
  overflow: hidden !important;
}

.custom-html-container {
  font-size: 0.9em !important;
}

.custom-html-container div {
  font-size: 1.125em !important;
}

.custom-html-container form {
  display: flex !important;
  flex-direction: column;
}

.custom-html-container label {
  margin-top: 1em;
  text-align: left;
}

.custom-html-container input,
.custom-html-container select {
  font-size: 0.9em !important;
  margin-top: 0.7em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.custom-control-label {
  cursor: pointer;
}

/* ============================ TIPPY ============================ */
.tippy-box[data-theme~="gradient"] {
  background: rgb(235, 74, 230);
  background: linear-gradient(
    90deg,
    rgba(171, 15, 166, 1) 0%,
    rgba(253, 45, 82, 1) 100%
  );
  color: white;
}

.tippy-box[data-theme~="gradient"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: #ab0fa6;
}
.tippy-box[data-theme~="gradient"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #ab0fa6;
}
.tippy-box[data-theme~="gradient"][data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: #ab0fa6;
}
.tippy-box[data-theme~="gradient"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: #ab0fa6;
}

/* ============================ FILE FOND ============================ */
.filepond--root {
  margin-bottom: 0 !important;
}

.filepond--root .filepond--drop-label {
  min-height: 2.85em !important;
  position: relative;
  display: flex;
  width: 100%;
}

.filepond--credits {
  display: none;
}

/* ============================ SIZE ALIGN PADDING MARGIN ============================ */
.width-full {
  width: 100% !important;
}

.padding-left {
  padding-left: 15px !important;
}

.padding-reset {
  padding: 0 !important;
}

.padding-right-reset {
  padding-right: 0 !important;
}

/* ============================ DATE PICKER ============================ */
.daterangepicker .drp-calendar {
  max-width: 278px !important;
}

/* ============================ MEDIA QUERY ============================ */
@media screen and (max-width: 576px) {
  .card-body .text-right {
    text-align: left !important;
  }

  .btn-barcode {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .supplier-list {
    height: 247px !important;
  }

  .supplier-list .table {
    position: relative !important;
  }

  .separate-tilde {
    display: none;
  }
}

@media (max-width: 1188px) {
  .daterangepicker .ranges,
  .daterangepicker .drp-calendar {
    float: none !important;
  }
}
