/**
* error page
* @author kyle
* @version 1.0
*/

/* ============================ ERROR ============================ */
#errorWrap {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.error-container {
  position: relative;
  display: flex;
  width: 653px;
  height: 532px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.16);
  background-color: #f1f2f4;
}

.error-img {
  position: relative;
  width: 217px;
  height: 180px;
  background-image: url(../../images/error.png);
  background-size: 100%;
}

.error-text {
  position: relative;
  font-family: 'Pretendard Medium', serif;
  font-size: 18px;
  color: #666;
  letter-spacing: -0.16px;
}

.circle-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 28px;
  right: 28px;
  background-image: url(../../images/circle-close.png);
  background-size: 100%;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .error-container {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
  }
}
