/**
* FONTS
* @author kyle
* @version 1.0
*/

/* ============================ FONTS ============================ */
/* 나눔스퀘어 */
@font-face {
  font-family: "NanumSquareL";
  font-weight: 300;
  src: url(../../fonts/nanum-square/NanumSquareL.eot);
  src: url(../../fonts/nanum-square/NanumSquareL.eot?#iefix)
      format("embedded-opentype"),
    url(../../fonts/nanum-square/NanumSquareL.woff) format("woff"),
    url(../../fonts/nanum-square/NanumSquareL.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  font-weight: 400;
  src: url(../../fonts/nanum-square/NanumSquareR.eot);
  src: url(../../fonts/nanum-square/NanumSquareR.eot?#iefix)
      format("embedded-opentype"),
    url(../../fonts/nanum-square/NanumSquareR.woff) format("woff"),
    url(../../fonts/nanum-square/NanumSquareR.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquareB";
  font-weight: 700;
  src: url(../../fonts/nanum-square/NanumSquareB.eot);
  src: url(../../fonts/nanum-square/NanumSquareB.eot?#iefix)
      format("embedded-opentype"),
    url(../../fonts/nanum-square/NanumSquareB.woff) format("woff"),
    url(../../fonts/nanum-square/NanumSquareB.ttf) format("truetype");
}
@font-face {
  font-family: "NanumSquareEB";
  font-weight: 800;
  src: url(../../fonts/nanum-square/NanumSquareEB.eot);
  src: url(../../fonts/nanum-square/NanumSquareEB.eot?#iefix)
      format("embedded-opentype"),
    url(../../fonts/nanum-square/NanumSquareEB.woff) format("woff"),
    url(../../fonts/nanum-square/NanumSquareEB.ttf) format("truetype");
}

/* Prestendard */
@font-face {
  font-family: "Pretendard Light";
  font-weight: 300;
  src: url("../../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Regular.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard Regular";
  font-weight: 400;
  src: url("../../fonts/pretendard/Pretendard-Regular.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Regular.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard Medium";
  font-weight: 500;
  src: url("../../fonts/pretendard/Pretendard-Medium.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Medium.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard SemiBold";
  font-weight: 600;
  src: url("../../fonts/pretendard/Pretendard-SemiBold.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-SemiBold.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard Bold";
  font-weight: 700;
  src: url("../../fonts/pretendard/Pretendard-Bold.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-Bold.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard ExtraBold";
  font-weight: 600;
  src: url("../../fonts/pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
    url("../../fonts/pretendard/Pretendard-ExtraBold.woff") format("woff"),
    url("../../fonts/pretendard/Pretendard-ExtraBold.ttf") format("truetype");
}
