/**
* logout page
* @author kyle
* @version 1.0
*/

/* ============================ LOGOUT ============================ */
#logoutWrap {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.logout-container {
    position: relative;
    display: flex;
    height: 75px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.16);
    background-color: #f1f2f4;
}

.logout-img {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url(../../images/goodbye.png);
    background-size: 100%;
}

.logout-text {
    position: relative;
    font-family: 'Pretendard Medium', serif;
    font-size: 16px;
    color: #666;
    letter-spacing: -0.16px;
}
