/**
* login
* @author kyle
* @version 1.0
*/

/* ============================ LOGIN ============================ */
.login {
  font-family: 'Pretendard Regular', serif;
  background: #2e2e2e;
}

.login span {
  cursor: pointer;
}

.login .header {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.login .header .title {
  position: relative;
  display: block;
  width: 100%;
  color: #444;
  font-family: 'NanumSquareEB', serif;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 12px;
  text-align: center;
}

.login .header .logo {
  position: relative;
  display: block;
  width: 180px;
  height: 80px;
  background-image: url('../images/connect-eye-logo.png');
  background-repeat: no-repeat;
  background-size: 180px;
  margin: 0 auto;
}

.login .wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh;
}

.wrapper.wrapper-login {
  display: flex;
  height: unset;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper.wrapper-login .container-login.active,
.wrapper.wrapper-login .container-mobile.active,
.wrapper.wrapper-login .container-signup.active,
.wrapper.wrapper-login .container-find.active {
  display: block;
}

.wrapper.wrapper-login .container-login,
.wrapper.wrapper-login .container-mobile,
.wrapper.wrapper-login .container-signup,
.wrapper.wrapper-login .container-find{
  display: none;
  width: 400px;
  padding: 60px 25px;
  border-radius: 5px;
}

.wrapper.wrapper-login .container-login,
.wrapper.wrapper-login .container-mobile,
.wrapper.wrapper-login .container-signup,
.wrapper.wrapper-login .container-find:not(.container-transparent) {
  background: white;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  -moz-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border: 1px solid #ebecec;
}

.wrapper.wrapper-login .container-signup h3 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 25px;
}

.form-sub {
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}

.btn-login {
  padding: 15px 0;
  width: 135px;
}

.form-action {
  text-align: center;
  padding: 25px 10px 0;
}

.form-action-d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-account {
  padding-top: 10px;
  text-align: center;
}

.container {
  position: relative;
}
.container-find .show-login,
.container-mobile .show-login {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container-signup .form-action {
  display: flex;
  justify-content: center;
}

.wrapper-login-full {
  justify-content: unset;
  align-items: unset;
  padding: 0 !important;
}

.login-aside {
  padding: 25px;
}

.login-aside .title {
  font-size: 36px;
}

.login-aside .subtitle {
  font-size: 18px;
}

.show-password {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 20px;
  cursor: pointer;
}

.custom-control-label {
  white-space: nowrap;
}

.social-login {
  position: relative;
  display: none;
  width: 385px;
}

.social-login.active {
  display: block;
}

.social-login .title {
  position: inherit;
  display: flex;
  width: 100%;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}

.social-login .btns {
  position: inherit;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.social-login .btns .icon {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.social-login .btns .icon.google {
  background-image: url('../images/login-google.svg');
}

.social-login .btns .icon.kakao {
  background-image: url('../images/login-kakao.svg');
}

.social-login .btns .icon.naver {
  background-image: url('../images/login-naver.svg');
}

@media screen and (max-width: 576px) {
  .form-action-d-flex {
    flex-direction: column;
    align-items: start !important;
  }

  .login .wrapper-login-full {
    flex-direction: column;
  }

  .login-aside {
    width: 100% !important;
  }

  .login-aside .title {
    font-size: 24px;
  }

  .login-aside .subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 399px) {
  .wrapper-login {
    padding: 15px !important;
  }

  .container-login {
    width: 100% !important;
    padding: 60px 15px !important;
  }
}
