<!--
Description: 브랜드/상품 목록
User: kyle
Date: 2022-01-12
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/brandProductInfo/brandProductInfo.css}"/>
    <script th:src="@{/js/brandProductInfo/brandProductInfo.js}"></script>

    <div id="brandProductInfo">
        <div class="page-inner p">

            <div class="card animated fadeIn mb-0" data-area="brList">
                <div class="card-header">
                    <label class="ml-2 mb-2">
                        <b>검색조건</b>
                    </label>
                    <!-- 검색영역 -->
                    <form class="search-group">
                        <!-- 브랜드명 -->
                        <div class="form-group form-floating-label col">
                            <input id="brnName" type="text" class="form-control" name="brnName" required="" />
                            <label for="brnName" class="placeholder">브랜드명</label>
                        </div>

                        <!-- 검색버튼 -->
                        <div class="buttons">
                            <button type="button" class="btn-select">검 색</button>
                        </div>
                    </form>
                </div>
                <!-- Table -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label class="col-md-6 pl-0 pr-0 mb-2">
                                <b>브랜드 목록 <span class="result-cnt">0</span>건</b>
                                <div class="result-select ml-2">
                                    <select class="form-control mr-1">
                                        <option selected value="7">기본</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select>
                                    <span>건씩 보기</span>
                                </div>
                            </label>
                            <div class="form-buttons mb-2">
                                <!--<span class="btn btn-border btn-custom btn-reg-sup btn-xs" data-target="brReg">상품추가</span>-->
                                <!--<span class="btn btn-border btn-custom btn-del-sup btn-xs" data-target="brReg">선택삭제</span>-->
                            </div>
                            <!-- 브랜드/상품 테이블 -->
                            <div id="brandProductInfoTable" class="table-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card animated fadeIn mb-0 d-none" data-area="brReg">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="brList"></span>
                        <div class="card-title">브랜드 추가</div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="formBrn">
                        <input type="hidden" id="regBrnId" name="regBrnId" value="" />

                        <div class="row">
                            <div class="col">
                                <h4 class="font-weight-bold">브랜드 정보</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="regBrnName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        브랜드명 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input type="text" class="form-control" id="regBrnName" name="regBrnName" placeholder="브랜드명" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <!--<button class="btn btn-primary" type="button" disabled>-->
                        <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                        <!--</button>-->
                        <button type="button" class="btn-reset btn-custom-3 mr-1">초기화</button>
                        <button type="button" class="btn-add btn-custom-2">추 가</button>
                        <button type="button" class="btn-save btn-custom-2">수 정</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>