<!--
Description: 금전출납 매입처별 납부
User: kyle
Date: 2022-04-11
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/cashPaymentBySupplier/cashPaymentBySupplier.css}"/>
    <script th:src="@{/js/cashPaymentBySupplier/cashPaymentBySupplier.js}"></script>

    <div id="cashPaymentBySupplier">
        <input type="hidden" id="supId" name="supId" th:value="${supId}" />
        <div class="page-inner p">
            <div class="card animated fadeIn mb-0" data-area="cashPaymentBySupplier">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-url="/page/supplierPurchaseInfoPage.ce" onclick="connecteye.app.ui.movePage(this)"></span>
                        <div class="card-title">매입처별 납부</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 mb-4">
                            <h4 class="font-weight-bold">전체 매입처 거래내역</h4>
                            <!-- 매입처별 납부 테이블 -->
                            <div id="cashPaymentBySupplierTable"></div>
                        </div>
                        <div class="col-md-4">
                            <div id="cardPaymentBySupplierInfo">
                                <h4 class="font-weight-bold">납부 정보</h4>
                                <ul class="list-group list-group-bordered mb-2">
                                    <li class="list-group-item pay-date-container d-flex justify-content-between align-items-center">
                                        <span class="font-weight-bold">납부일</span>
                                        <span class="position-relative">
                                            <input type="text" class="pay-date text-center text-dark" />
                                            <i class="fa fa-calendar-check btn-calendar"></i>
                                        </span>
                                    </li>
                                </ul>
                                <ul class="list-group list-group-bordered mb-2">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="font-weight-bold">총 미지급금</span>
                                        <span>
                                            <span class="font-weight-bold total-unpaid-price">0</span> 원
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="font-weight-bold">납부한 미지급금</span>
                                        <span>
                                            <span class="font-weight-bold cash-control paid-price text-primary">0</span> 원
                                        </span>
                                    </li>
                                </ul>
                                <ul class="list-group list-group-bordered mb-2">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="font-weight-bold">총 미수금</span>
                                        <span>
                                            <span class="font-weight-bold total-rcv-price text-danger">0</span> 원
                                        </span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span class="font-weight-bold">받은 미수금</span>
                                        <span>
                                           <span class="font-weight-bold cash-control return-rcv-price text-primary">0</span> 원
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--<div class="separator-solid"></div>-->
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <!--<button class="btn btn-primary" type="button" disabled>-->
                        <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                        <!--</button>-->
                        <button type="button" id="btnCashPaymentBySupplierReset" class="btn-reset btn-custom-3 mr-1">초기화</button>
                        <button type="button" id="btnCashPaymentBySupplier" class="btn-add btn-custom-2">납부하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>