<!--
Description: 금전출납
User: kyle
Date: 2021-11-02
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/cashPaymentInfo/cashPaymentInfo.css}"/>
    <script th:src="@{/js/cashPaymentInfo/cashPaymentInfo.js}"></script>

    <div id="cashPaymentInfo">
        <div class="page-inner p">
            <div class="page-header width-full">
                <h4 class="page-title">금전출납</h4>
                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a>
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>매입</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>금전출납</a>
                    </li>
                </ul>
            </div>

            <div class="card animated fadeIn mb-0" data-area="cashPaymentList">
                <div class="card-header">
                    <label class="ml-2 mb-2">
                        <b>검색조건</b>
                    </label>
                    <!-- 검색영역 -->
                    <form class="search-group align-items-center">
                        <!-- 거래내역 등록일자 -->
                        <input type="hidden" id="startDate" name="startDate"/>
                        <input type="hidden" id="endDate" name="endDate"/>
                        <!-- 상품구분 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="prdtDivCode" name="prdtDivCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtDivCode" class="placeholder">상품구분</label>
                        </div>
                        <!-- 브랜드명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="brnName" type="text" class="form-control" name="brnName" required="" />
                            <label for="brnName" class="placeholder">브랜드명</label>
                        </div>
                        <!-- 매입처 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="supName" type="text" class="form-control" name="supName" required="" />
                            <label for="supName" class="placeholder">매입처명</label>
                        </div>
                        <!-- 매입금액 최소 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="priceMin" type="text" class="form-control" name="priceMin" required="" />
                            <label for="priceMin" class="placeholder">매입금액 최소</label>
                        </div>
                        <span class="separate-tilde"> ~ </span>
                        <!-- 매입금액 최대 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="priceMax" type="text" class="form-control" name="priceMax" required="" />
                            <label for="priceMax" class="placeholder">매입금액 최대</label>
                        </div>
                        <!-- 검색버튼 -->
                        <div class="buttons">
                            <button type="button" class="btn-select">검 색</button>
                        </div>
                    </form>
                </div>

                <!-- Table -->
                <div class="card-body">
                    <div class="row">
                        <div class="supplier-search is-loading col-md-4">
                            <!-- 매입처 검색 -->
                            <label class="ml-2 mb-2">
                                <b>매입처 검색</b>
                            </label>
                            <!-- 전체 매입처 -->
                            <div id="supplierList" class="form-group padding-reset mb-2">
                                <div class="input-icon mb-2">
                                    <input id="supplierAll" type="text" class="form-control search" name="supplierAll" placeholder="미납 매입처" required="" />
                                    <span class="input-icon-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                                <table class="table table-head-bg-info text-center mb-4">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="pl-0">거래액</th>
                                        <th scope="col" class="pl-0">미지급</th>
                                        <th scope="col" class="pl-0">미수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold buy-price pl-0">0</td>
                                        <td class="font-weight-bold unpaid-price text-primary pl-0">0</td>
                                        <td class="font-weight-bold rcv-price text-danger pl-0">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- 매입처 목록 -->
                                <label class="ml-2 mb-2">
                                    <b>매입처 목록</b>
                                </label>
                                <div class="supplier-list border-top border-bottom mb-4 mb-md-0">
                                    <table class="table mb-0">
                                        <tbody class="list"></tbody>
                                    </table>
                                </div>
                            </div>
                            <!--<ul class="list-group">-->
                            <!--<li class="list-group-item d-flex justify-content-between align-items-center supplier-all">-->
                            <!--전체 매입처-->
                            <!--<span class="badge bg-primary rounded-pill">0</span>-->
                            <!--</li>-->
                            <!--</ul>-->
                        </div>
                        <div class="col-md-8">
                            <div class="total-cash-container mb-3">
                                <!-- 전체 거래기간 합계 -->
                                <label class="mb-2">
                                    <b>전체 거래기간 합계 (<span class="search-cash-date">2021-04-25 ~ 2021-05-25</span>)</b>
                                    <span class="btn-calendar fas fa-calendar-alt ml-2"></span>
                                </label>
                                <!-- 전체 거래기간 합계 테이블 -->
                                <table class="table table-head-bg-info text-center total-cash-table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="pl-0">총 매입금</th>
                                        <th scope="col" class="pl-0">총 납부액</th>
                                        <th scope="col" class="pl-0">총 할인액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold pl-0 border-bottom-0 total-buy-price">0</td>
                                        <td class="font-weight-bold pl-0 border-bottom-0 total-pay-price text-primary">0</td>
                                        <td class="font-weight-bold pl-0 border-bottom-0 total-sale-price">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-head-bg-info text-center total-cash-table mb-2">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="pl-0">총 미지급금</th>
                                        <th scope="col" class="pl-0">총 반품액</th>
                                        <th scope="col" class="pl-0">총 미수금</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold pl-0 total-unpaid-price text-primary">0</td>
                                        <td class="font-weight-bold pl-0 total-return-price text-danger">0</td>
                                        <td class="font-weight-bold pl-0 rcv-price">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <label class="col-md-6 pl-0 pr-0 mb-2">
                                <b>전체 매입처 거래내역 <span class="result-cnt">0</span>건</b>
                            </label>
                            <div class="form-buttons mb-2">
                                <!--<span class="btn btn-border btn-custom btn-reg-pur btn-xs" data-target="supPurReg">거래내역추가</span>-->
                                <!--<span class="btn btn-border btn-custom btn-expand-all btn-xs">전체열기</span>-->
                                <!--<span class="btn btn-border btn-custom btn-collapse-all btn-xs">전체닫기</span>-->
                            </div>
                            <!-- 금전출납 테이블 -->
                            <div id="cashPaymentInfoTable"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card animated fadeIn mb-0 d-none" data-area="cashPaymentOne">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="cashPaymentList"></span>
                        <div class="card-title">매입처별 납부</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col">
                            <form id="formCashBySupplier" class="total-cash-update-container">
                                <!-- 거래내역 등록일자 -->
                                <input type="hidden" id="searchSupId" name="supId"/>
                                <input type="hidden" id="startDateOne" name="startDate"/>
                                <input type="hidden" id="endDateOne" name="endDate"/>

                                <!-- 전체 거래기간 합계 -->
                                <label class="mb-4">
                                    <b class="by-supplier-name text-danger mr-2"></b>
                                    <b>전체 거래기간 합계 (<span class="search-cash-date-2">2021-04-25 ~ 2021-05-25</span>)</b>
                                    <span class="btn-calendar-2 fas fa-calendar-alt ml-2"></span>
                                </label>

                                <h4 class="font-weight-bold">발주/반품 합계 정보</h4>
                                <div class="mb-3">
                                    <!-- 합계 테이블 -->
                                    <table class="table table-head-bg-info text-center total-cash-table mb-2">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="pl-0">총 매입금</th>
                                            <th scope="col" class="pl-0">총 납부액</th>
                                            <th scope="col" class="pl-0">총 할인액</th>
                                            <th scope="col" class="pl-0">총 미지급금</th>
                                            <th scope="col" class="pl-0">총 반품액</th>
                                            <th scope="col" class="pl-0">총 미수금</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="font-weight-bold pl-0 total-buy-price">0</td>
                                            <td class="font-weight-bold pl-0 total-pay-price text-primary">0</td>
                                            <td class="font-weight-bold pl-0 total-sale-price">0</td>
                                            <td class="font-weight-bold pl-0 total-unpaid-price text-primary">0</td>
                                            <td class="font-weight-bold pl-0 total-return-price text-danger">0</td>
                                            <td class="font-weight-bold pl-0 rcv-price">0</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <h4 class="font-weight-bold">발주/반품 정보</h4>
                            <!-- 건별 납부 테이블 -->
                            <div id="cashPaymentOneTable"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <h4 class="font-weight-bold">납부 내역</h4>
                            <!-- 납부 내역 테이블 -->
                            <div id="cashPaymentHistoryTable"></div>
                        </div>
                        <div class="col-md-6">
                            <form id="formCashPaymentOne">
                                <input type="hidden" id="purId" name="purId"/>
                                <input type="hidden" id="amount" name="amount"/>
                                <input type="hidden" id="payYn" name="payYn"/>
                                <input type="hidden" id="payPrice" name="payPrice"/>
                                <input type="hidden" id="payStatus" name="payStatus"/>

                                <h4 class="font-weight-bold">납부 정보입력</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="payDate" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        납부일
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <div class="input-group date-picker-container">
                                            <input class="form-control pay-control" id="payDate" name="payDate" placeholder="납부일" />
                                            <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar-check"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="cashPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        현금
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input class="form-control pay-control" id="cashPrice" name="cashPrice" placeholder="현금" value="0" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="cardPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        카드
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input class="form-control pay-control" id="cardPrice" name="cardPrice" placeholder="카드" value="0" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="salePrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        할인
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input class="form-control pay-control" id="salePrice" name="salePrice" placeholder="할인" value="0" />
                                    </div>
                                </div>
                                <div class="d-flex flex-column text-right">
                                    <span class="font-weight-bold pr-2">
                                        입력 합계금액 <span class="total-input-price text-primary">0</span>원
                                    </span>
                                    <span class="font-weight-bold pr-2">
                                        납부 가능금액 <span class="pay-price text-danger">0</span>원
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--<div class="separator-solid"></div>-->
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <!--<button class="btn btn-primary" type="button" disabled>-->
                        <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                        <!--</button>-->
                        <button type="button" id="btnCashOneReset" class="btn-reset btn-custom-3 mr-1">초기화</button>
                        <button type="button" id="btnCashOnePayment" class="btn-add btn-custom-2">납부하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>