<!--
Description: 본인인증 후 팝업 닫기
User: hey
Date: 2022-05-13
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CONNECT-EYE 본인인증</title>
<body>
<p style="line-height: 100px; text-align: center;" th:text value="${RESULT_MSG}"></p>
</body>
<script>
  const RETURN_URL = '[[${returnUrl}]]';
  window.onload = function() {
    setTimeout(function(){
      // IE 처리
      if(!window.opener){
        window.opener = window.open('', 'ce');
      }

      debugger;

      console.log(RETURN_URL);
      window.opener.location.href = RETURN_URL || window.opener.document.referrer;
      this.close();
    }, 2000);
  }
</script>
</html>