<!--
Description: 아이디/비밀번호 찾기
User: Oliveh
Date: 2021-11-02
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>CONNECT-EYE 아이디/비밀번호 찾기</title>

    <!-- login.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/login/login.css}"/>
        <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
        <link rel="stylesheet" th:href="@{/css/common/atlantis.min.css}" />
    </th:block>

    <!-- login.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/login/login.js}"></script>
        <script th:src="@{/js/plugin/webfont/webfont.min.js}"></script>
        <!-- Webfont Load -->
        <script>
            WebFont.load({
                custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                    urls: ['/css/common/fontsCustom.css']},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    </th:block>
</head>
<body class="login">
    <div class="wrapper wrapper-login">
        <!-- 아이디/비밀번호 찾기 컨테이너 -->
        <div class="container container-find animated fadeIn active">
            <a th:href="@{/loginPage.ce}" class="flaticon-cross show-login"></a>
            <h3 class="text-center">아이디 찾기</h3>
            <span class="message">회원가입 시 사용한 이메일을 입력해 주세요.</span>
            <form class="find-id-form" th:action="@{/api/findId}" method="post">
                <div class="find-id-form pb-5">
                    <div class="form-group form-floating-label">
                        <input id="findIdByEmail" name="email" type="text" class="form-control input-border-bottom" required="">
                        <label for="findIdByEmail" class="placeholder">이메일</label>
                    </div>
                    <div class="form-action pt-2">
                        <span class="btn btn-primary btn-rounded show-find-id-result">확인</span>
                    </div>
                </div>
            </form>

            <h3 class="text-center">비밀번호 찾기</h3>
            <span class="message">회원가입 시 사용한 이메일을 입력해 주세요.<br/>이메일로 임시 비밀번호가 발송 됩니다.</span>
            <form class="find-password-form" th:action="@{/api/findPassword}" method="post">
                <div class="find-password-form">
                    <div class="form-group form-floating-label">
                        <input id="findPasswordById" name="id" type="text" class="form-control input-border-bottom" required="">
                        <label for="findPasswordById" class="placeholder">아이디</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="findPasswordByEmail" name="email" type="text" class="form-control input-border-bottom" required="">
                        <label for="findPasswordByEmail" class="placeholder">이메일</label>
                    </div>
                    <div class="form-action pt-2">
                        <span class="btn btn-primary btn-rounded show-find-password-result">확인</span>
                    </div>
                </div>
            </form>
        </div>

        <!-- 아이디/비밀번호 찾기 컨테이너 -->
        <div class="container container-find-id-result animated fadeIn">
        </div>
    </div>
</body>
</html>