<!--
Description:
User: VNG
Date: 2021-11-02
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>CONNECT-EYE 로그인</title>

    <!-- login.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/login/login.css}"/>
        <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
        <link rel="stylesheet" th:href="@{/css/common/atlantis.min.css}" />
    </th:block>

    <!-- login.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/login/login.js}"></script>
        <script th:src="@{/js/plugin/webfont/webfont.min.js}"></script>
        <!-- Webfont Load -->
        <script>
            WebFont.load({
                custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                    urls: ['/css/common/fontsCustom.css']},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    </th:block>
</head>
<body class="login">
    <div class="wrapper wrapper-login">
        <!-- 로그인 컨테이너 -->
        <div class="container container-login pt-6 animated fadeIn active">
            <div class="header">
                <span class="logo"></span>
                <span class="title text">CONNECT-EYE</span>
            </div>
            <form class="login-form" th:action="@{/login.ce}" method="post">
                <div class="login-form">
                    <div class="form-group form-floating-label">
                        <input id="username" name="username" type="text" class="form-control input-border-bottom" required="">
                        <label for="username" class="placeholder">아이디</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="password" name="password" type="password" class="form-control input-border-bottom" required="">
                        <label for="password" class="placeholder">비밀번호</label>
                        <div class="show-password">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <div class="row form-sub m-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rememberMe">
                            <label class="custom-control-label" for="rememberMe">아이디 저장</label>
                        </div>
                        <a class="float-right text-primary show-find" th:href="@{/findUser.ce}">로그인이 안 되시나요 ?</a>
                    </div>
                    <div class="form-action mb-3">
                        <input class="btn btn-primary btn-rounded btn-login" type="submit" value="로그인" />
                    </div>
                    <p th:text="${RESULT_MSG}"></p>
                    <div class="login-account">
                        <span class="msg">처음 방문이세요 ?</span>
                        <a th:href="@{/mobileAuth.ce}" class="show-mobile text-primary">회원가입</a>
                    </div>
                </div>
            </form>
        </div>

        <!-- 휴대전화 인증 컨테이너 -->
        <div class="container container-mobile animated fadeIn">
            <h3 class="text-center">휴대전화 인증</h3>
            <div class="form-action">
                <span class="btn btn-danger btn-link btn-login show-login mr-3">취 소</span>
                <span class="btn btn-primary btn-rounded auth"><!--show-signup-->본인인증</span>
            </div>
        </div>

        <!-- 회원가입 컨테이너 -->
        <div class="container container-signup animated fadeIn">
            <h3 class="text-center">회원가입</h3>
            <form class="signup-form" th:action="@{/signUp}" method="post">
                <div class="signup-form">
                    <div class="form-group form-floating-label">
                        <input id="regUserId" name="userId" type="text" class="form-control input-border-bottom" required="">
                        <label for="regUserId" class="placeholder">아이디</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regEmail" name="email" type="email" class="form-control input-border-bottom" required="">
                        <label for="regEmail" class="placeholder">이메일</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regUserName" name="userName" type="text" class="form-control input-border-bottom" required="">
                        <label for="regUserName" class="placeholder">이름</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regPassword" name="userPassword" type="password" class="form-control input-border-bottom" required="">
                        <label for="regPassword" class="placeholder">비밀번호</label>
                        <div class="show-password">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regConfirmPassword" name="regConfirmPassword" type="password" class="form-control input-border-bottom" required="">
                        <label for="regConfirmPassword" class="placeholder">비밀번호 확인</label>
                        <div class="show-password">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <div class="row form-sub m-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="agree" id="agree1">
                            <label class="custom-control-label" for="agree1">
                                <span class="text-danger">(필수)</span>
                                아이웨어 이용약관에 동의합니다.
                                <a>전체보기</a>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="agree" id="agree2">
                            <label class="custom-control-label" for="agree2">
                                <span class="text-danger">(필수)</span>
                                개인정보 수집 및 이용에 동의합니다.
                                <a>전체보기</a>
                            </label>
                        </div>
                    </div>
                    <div class="form-action">
                        <span class="btn btn-danger btn-link btn-login show-login mr-3">취 소</span>
                        <button class="btn btn-primary btn-rounded btn-login" type="submit">가입하기</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- 아이디/비밀번호 찾기 컨테이너 -->
        <div class="container container-find animated fadeIn">
            <span class="btn btn-primary btn-rounded show-login">로그인</span>
            <h3 class="text-center">아이디 찾기</h3>
            <span class="message">회원가입 시 사용한 이메일을 입력해 주세요.</span>
            <form class="find-id-form" th:action="@{/api/findId}" method="post">
            <div class="find-id-form">
                <div class="form-group form-floating-label">
                    <input id="findIdByEmail" name="email" type="text" class="form-control input-border-bottom" required="">
                    <label for="findIdByEmail" class="placeholder">이메일</label>
                </div>
                <div class="form-action">
                    <span class="btn btn-primary btn-rounded show-find-id-result">확인</span>
                </div>
            </div>
            </form>

            <h3 class="text-center">비밀번호 찾기</h3>
            <span class="message">회원가입 시 사용한 이메일을 입력해 주세요.<br/>이메일로 임시 비밀번호가 발송 됩니다.</span>
            <form class="find-password-form" th:action="@{/api/findPassword}" method="post">
                <div class="find-password-form">
                    <div class="form-group form-floating-label">
                        <input id="findPasswordById" name="id" type="text" class="form-control input-border-bottom" required="">
                        <label for="findPasswordById" class="placeholder">아이디</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="findPasswordByEmail" name="email" type="text" class="form-control input-border-bottom" required="">
                        <label for="findPasswordByEmail" class="placeholder">이메일</label>
                    </div>
                    <div class="form-action">
                        <span class="btn btn-primary btn-rounded show-find-password-result">확인</span>
                    </div>
                </div>
            </form>
        </div>

        <!-- 아이디/비밀번호 찾기 컨테이너 -->
        <div class="container container-find-id-result animated fadeIn">
        </div>

        <!-- 간편 소셜로그인 -->
        <div class="social-login">
            <div class="title text">간편 로그인</div>
            <div class="btns">
                <!--<span class="icon google"></span>-->
                <span class="icon kakao" data-type="kakao"></span>
                <span class="icon naver" data-type="naver"></span>
            </div>
        </div>
    </div>
</body>
</html>