<!--
Description: 로그아웃
User: kyle
Date: 2022-05-10
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>CONNECT-EYE</title>

    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
    <link rel="stylesheet" th:href="@{/css/common/logout.css}" />

    <script type="text/javascript">
        setTimeout(() => location.href = '/', 1000);
    </script>
</head>
<body>
    <div id="logoutWrap">
        <div class="logout-container">
            <span class="logout-img mr-2"></span>
            <span class="logout-text">로그아웃 완료! 다음에 만나요~</span>
        </div>
    </div>
</body>
</html>