<!--
Description:
User: VNG
Date: 2021-11-02
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>CONNECT-EYE 로그인</title>

    <!-- login.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/login/login.css}"/>
        <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
        <link rel="stylesheet" th:href="@{/css/common/atlantis.min.css}" />
    </th:block>

    <!-- login.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/login/login.js}"></script>
        <script th:src="@{/js/plugin/webfont/webfont.min.js}"></script>
        <!-- Webfont Load -->
        <script>
            WebFont.load({
                custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                    urls: ['/css/common/fontsCustom.css']},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    </th:block>
</head>
<body class="login">
    <div class="wrapper wrapper-login">
        <!-- 휴대전화 인증 컨테이너 -->
        <div class="container container-mobile animated fadeIn active">
            <h3 class="text-center">휴대전화 인증</h3>
            <div class="form-action">
                <a th:href="@{/loginPage.ce}" class="flaticon-cross show-login"></a>
                <span class="btn btn-primary btn-rounded auth"><!--show-signup-->본인인증</span>
            </div>
        </div>
    </div>
</body>
</html>