<!--
Description: 안경원 생성 및 관리
User: kyle
Date: 2022-04-14
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>CONNECT-EYE 안경원 관리</title>

    <!-- login.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/login/login.css}"/>
        <link rel="stylesheet" th:href="@{/css/optician/optician.css}"/>
        <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
        <link rel="stylesheet" th:href="@{/css/common/atlantis.min.css}" />
    </th:block>

    <!-- optician.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <!-- 카카오 우편번호서비스 api -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/optician/optician.js}"></script>
        <script th:src="@{/js/plugin/webfont/webfont.min.js}"></script>
        <!-- Webfont Load -->
        <script>
            WebFont.load({
                custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                    urls: ['/css/common/fontsCustom.css']},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    </th:block>
</head>
<body>
<div id="Optician" class="container-optician">
    <div class="page-navs bg-white">
        <div class="nav-scroller">
            <div class="nav nav-tabs nav-line nav-color-primary d-flex align-items-center justify-contents-center w-100 overflow-hidden">
                <a class="nav-link active show" data-toggle="tab">모든 안경원
                    <span class="count ml-1">(1)</span>
                </a>
                <div class="ml-auto">
                    <a class="btn btn-xs btn-primary btn-opt-create">안경원 생성</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner">
        <div class="row row-projects">
            <!--
            <div class="optician">
                <div class="card">
                    <label class="imagecheck">
                        <input name="imagecheck" type="radio" value="1" class="imagecheck-input" checked/>
                        <figure class="imagecheck-figure">
                            <span class="card-img-top imagecheck-image">
                                브이안경
                            </span>
                            <div class="card-body">
                                <p class="card-text d-flex">
                                    <span class="fas fa-address-book text-primary icon-address mr-2"></span>
                                    <span class="">경기도 성남시 수정구 창업로 54 판교제2테크노밸리기업성장센터</span>
                                </p>
                                <p class="card-text">
                                    <span class="fas fa-phone text-primary mr-2"></span>
                                    010-5144-7777
                                </p>
                                <div class="d-flex justify-content-center align-items-center width-full" style="font-size: 14px">
                                    <span class="human mr-2"></span>
                                    <span>멤버 <span class="member-count text-dark">12</span>명</span>
                                </div>
                            </div>
                        </figure>
                    </label>
                </div>
            </div>
            -->
        </div>
        <div class="row row-optician-signup mt-5 d-none">
            <div class="wrapper wrapper-login wrapper-optician">
                <div class="container container-signup animated fadeIn active">
                    <h3 class="text-center">안경원 생성</h3>
                    <form id="formOpticianInfo" class="signup-form" th:action="@{/}" novalidate="novalidate">
                        <div class="signup-form" novalidate="novalidate">
                            <div class="form-group form-floating-label">
                                <input id="regOptName" name="regOptName" type="text" class="form-control input-border-bottom" required="">
                                <label for="regOptName" class="placeholder">상호명</label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="regAddress" name="regAddress" type="text" class="form-control input-border-bottom" required="">
                                <label for="regAddress" class="placeholder">주소</label>
                                <div class="show-search">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="regAddrDetail" name="regAddrDetail" type="text" class="form-control input-border-bottom" required="">
                                <label for="regAddrDetail" class="placeholder">상세주소</label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="regPhone" name="regPhone" type="text" class="form-control input-border-bottom" required="">
                                <label for="regPhone" class="placeholder">전화번호</label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="regBusinessNumber" name="regBusinessNumber" type="text" class="form-control input-border-bottom" required="">
                                <label for="regBusinessNumber" class="placeholder">사업자등록번호</label>
                            </div>
                            <div class="row form-sub m-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="regAgree" id="agree1">
                                    <label class="custom-control-label" for="agree1">
                                        <span class="text-danger">(필수)</span>
                                        아이웨어 이용약관에 동의합니다.
                                        <a>전체보기</a>
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="regAgree" id="agree2">
                                    <label class="custom-control-label" for="agree2">
                                        <span class="text-danger">(필수)</span>
                                        개인정보 수집 및 이용에 동의합니다.
                                        <a>전체보기</a>
                                    </label>
                                </div>
                            </div>
                            <div class="form-action">
                                <span class="btn btn-danger btn-link btn-cancel mr-5">취 소</span>
                                <button class="btn btn-primary btn-rounded btn-create" type="submit">생성하기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>