<!--
Description: 매출 검안매출
User: kyle
Date: 2022-05-04
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/optometrySalesInfo/optometrySalesInfo.css}"/>
    <script th:src="@{/js/optometrySalesInfo/optometrySalesInfo.js}"></script>

    <div id="optometrySalesInfo">
        <input type="hidden" id="custId" name="custId" th:value="${custId}"/>

        <div class="page-inner">
            <div class="page-header width-full">
                <h4 class="page-title">검안매출</h4>
                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">매출</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">검안매출</a>
                    </li>
                </ul>
            </div>

            <!-- 검안매출 고객별 현황 -->
            <div class="card animated fadeIn mb-0" data-area="optmtList">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mb-lg-0 mb-md-0 mb-4 optometry-cust-container">
                            <div id="searchBox" class="d-flex width-full mb-2">
                                <select class="form-control col" id="custAll" name="custAll"></select>
                                <button class="btn btn-custom-3 ml-1 col-1" id="btnRegCust" type="button">
                                    <i class="fas fa-user-plus"></i>
                                </button>
                            </div>

                            <form id="formCustInfo" class="mb-4">
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">고객명</span>
                                        </div>
                                        <input type="text" class="form-control text-center" id="custName" name="custName"/>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">성별</span>
                                        </div>
                                        <select class="form-control text-center" id="custGender" name="custGender">
                                            <option value="">선택</option>
                                            <option value="1">남</option>
                                            <option value="2">여</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">연락처1</span>
                                        </div>
                                        <input type="text" class="form-control text-center" id="custTelOne" name="custTelOne"/>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">연락처2</span>
                                        </div>
                                        <input type="text" class="form-control text-center" id="custTelTwo" name="custTelTwo"/>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">생년월일</span>
                                        </div>
                                        <input type="text" class="form-control text-center" id="custBirthday" name="custBirthday"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text cust-age">만 0세</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">주소</span>
                                        </div>
                                        <input type="text" class="form-control" id="custAddress" name="custAddress"/>
                                        <div class="input-group-append search">
                                            <span class="input-group-text">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">상세주소</span>
                                        </div>
                                        <input type="text" class="form-control" id="custAddrDetail" name="custDetailAddress"/>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">이메일</span>
                                        </div>
                                        <input type="text" class="form-control text-center" id="custEmail" name="custEmail"/>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group visit-date-container-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">방문예정</span>
                                        </div>
                                        <input type="text" class="form-control text-center" id="custWillVisitDate" name="custWillVisitDate"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar-check"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">우세안</span>
                                        </div>
                                        <select type="text" class="form-control text-center" id="custPrvEyeCode" name="custPrvEyeCode">
                                            <option value="">선택</option>
                                            <option value="PE101">좌</option>
                                            <option value="PE102">우</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group p-0 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cust font-weight-bold">메모</span>
                                        </div>
                                        <textarea class="form-control" id="custMemo" name="custMemo" placeholder="메모를 입력해주세요"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="d-flex width-full flex-column">
                                <span class="d-flex width-full align-items-center mb-2">
                                    <div class="col p-0">
                                        <select class="form-control col" id="custRelation" name="custRelation"></select>
                                    </div>
                                    <button class="btn btn-custom-3 ml-1 col-1" id="btnRegCustRelation" type="button">
                                        <i class="fas fa-user-plus"></i>
                                    </button>
                                </span>
                                <div id="custRelationTable"></div>
                                <button type="button" class="btn btn-border btn-custom btn-save mt-2 mb-0" id="btnSaveCustRelation" disabled>적 용</button>
                            </div>
                        </div>
                        <div class="col-md-9 optometry-sales-container">
                            <div class="row pr-3">
                                <div class="width-full">
                                    <div class="position-relative mb-2">
                                        <button type="button" id="btnOptmtNewReg" class="btn-optmt-reg btn-custom-3 mr-1 active" value="SL101">신규</button>
                                        <!--<button type="button" id="btnOptmtReturnReg" class="btn-optmt-reg btn-custom-3 mr-1" value="SL103">반품</button>-->
                                        <button type="button" id="btnCustAnalysis" class="btn-cust-analysis btn-custom-3 mr-1" disabled>고객분석</button>

                                        <div class="total-rcv-wrapper">
                                            <span class="font-weight-bold mr-2">
                                                <span>미수누적금액</span>
                                                <span class="total-rcv-price text-danger">0</span> 원
                                            </span>
                                            <button class="btn btn-border btn-custom btn-cash-payment btn-xs" disabled>금전출납</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 p-0">
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-sm table-head-bg-info text-center table-optometry mb-2">
                                                <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">SPH(D)</th>
                                                    <th scope="col">CYL(D)</th>
                                                    <th scope="col">AXIS(˚)</th>
                                                    <th scope="col">원용PD(mm)</th>
                                                    <th scope="col">ADD(D)</th>
                                                    <th scope="col">근용PD(mm)</th>
                                                    <th scope="col">OH(mm)</th>
                                                    <th scope="col">PRISM(Δ)</th>
                                                    <th scope="col">BASE(Δ)</th>
                                                    <th scope="col">나안</th>
                                                    <th scope="col">교정</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="font-weight-bold">OD</td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="sph" data-status="isEmpty" value="0" tabIndex="1" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="cyl" data-status="isEmpty" value="0" tabIndex="2" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="axis" data-status="isEmpty" value="0" tabIndex="3" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="hyperPd" data-status="isEmpty" value="0" tabIndex="7" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="add" data-status="isEmpty" value="0" tabIndex="9" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="shortPd" data-status="isEmpty" value="0" tabIndex="10" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="oh" data-status="isEmpty" value="0" tabIndex="13" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="prism" data-status="isEmpty" value="0" tabIndex="15" />
                                                    </td>
                                                    <td class="p-2">
                                                        <select class="form-control optometry optometry-od" id="odBase" name="base" data-status="isEmpty" tabIndex="16"></select>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="nakedEye" data-status="isEmpty" value="0" tabIndex="19" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="correction" data-status="isEmpty" value="0" tabIndex="21" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">OS</td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="sph" data-status="isEmpty" value="0" tabIndex="4" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="cyl" data-status="isEmpty" value="0" tabIndex="5" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="axis" data-status="isEmpty" value="0" tabIndex="6" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="hyperPd" data-status="isEmpty" value="0" tabIndex="8" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="add" data-status="isEmpty" value="0" tabIndex="11" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="shortPd" data-status="isEmpty" value="0" tabIndex="12" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="oh" data-status="isEmpty" value="0" tabIndex="14" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="prism" data-status="isEmpty" value="0" tabIndex="17" />
                                                    </td>
                                                    <td class="p-2">
                                                        <select class="form-control optometry optometry-os" id="osBase" name="base" data-status="isEmpty" tabIndex="18"></select>
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="nakedEye" data-status="isEmpty" value="0" tabIndex="20" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="correction" data-status="isEmpty" value="0" tabIndex="22" />
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <table class="table table-sm table-head-bg-info text-center table-optometry mb-3">
                                                <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">SPH(D)</th>
                                                    <th scope="col">CYL(D)</th>
                                                    <th scope="col">AXIS(˚)</th>
                                                    <th scope="col">ADD(D)</th>
                                                    <th scope="col">B.C</th>
                                                    <th scope="col">DIA(mm)</th>
                                                    <th scope="col">KERATO</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="font-weight-bold">OD</td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="CSph" data-status="isEmpty" value="0" tabIndex="23" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="CCyl" data-status="isEmpty" value="0" tabIndex="24" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="CAxis" data-status="isEmpty" value="0" tabIndex="25" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="CAdd" data-status="isEmpty" value="0" tabIndex="29" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="CBc" data-status="isEmpty" value="0" tabIndex="30" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="CDia" data-status="isEmpty" value="0" tabIndex="33" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-od" name="kerato" data-status="isEmpty" value="0" tabIndex="35" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">OS</td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="CSph" data-status="isEmpty" value="0" tabIndex="26" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="CCyl" data-status="isEmpty" value="0" tabIndex="27" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="CAxis" data-status="isEmpty" value="0" tabIndex="28" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="CAdd" data-status="isEmpty" value="0" tabIndex="31" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="CBc" data-status="isEmpty" value="0" tabIndex="32" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="CDia" data-status="isEmpty" value="0" tabIndex="34" />
                                                    </td>
                                                    <td class="p-2">
                                                        <input type="text" class="form-control optometry optometry-os" name="kerato" data-status="isEmpty" value="0" tabIndex="36" />
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-4 pr-4 pl-0">
                                            <div class="form-group form-group-default mb-2 p-2">
                                                <label>코멘트</label>
                                                <textarea class="form-control optometry optometry-od" name="comment" placeholder="내용을 입력해주세요" rows="3" tabIndex="37"></textarea>
                                            </div>
                                            <div class="d-flex">
                                                <button type="button" class="btn btn-border btn-custom btn-save mb-0 mr-1" id="btnRecentOptInfo">최근검안 불러오기</button>
                                                <button type="button" class="btn btn-border btn-custom btn-save mb-0" id="btnCurrentOptInfo">현재 검안정보로 등록</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="bg-light border-top font-weight-bold d-flex justify-content-center align-items-center" style="height: 40px;">지난 거래 기록</div>
                                    <ul class="list-group list-group-flush border-bottom optometry-history-info">
                                        <div class="optometry-history-nodata">
                                            데이터 없음
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <form id="formSales">
                                <input type="hidden" id="opSupId" name="opSupId" value="" />
                                <input type="hidden" id="opBrnId" name="opBrnId" value="" />
                                <input type="hidden" id="opPrdtId" name="opPrdtId" value="" />
                                <input type="hidden" id="opSupPrdtId" name="opSupPrdtId" value="" />
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <div class="form-group form-show-validation row">
                                            <label for="opBrnName" class="col-lg-2 col-md-2 col-sm-2 mt-sm-2 text-right">
                                                구분 <span class="required-label">*</span>
                                            </label>
                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <select class="form-control product-control" id="opPrdtDivCode" name="opPrdtDivCode"></select>
                                            </div>
                                        </div>
                                        <div class="form-group form-show-validation row">
                                            <label for="opBrnName" class="col-lg-2 col-md-2 col-sm-2 mt-sm-2 text-right">
                                                브랜드 <span class="required-label">*</span>
                                            </label>
                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <select class="form-control" id="opBrnName" name="opBrnName"></select>
                                            </div>
                                        </div>
                                        <div class="form-group form-show-validation row">
                                            <label class="col-lg-2 col-md-2 col-sm-2 mt-sm-1 mb-0 text-right">
                                                <div class="custom-control custom-checkbox mr-0">
                                                    <input type="checkbox" id="barcodeRight" name="barcodeRight" class="custom-control-input" checked/>
                                                    <label class="custom-control-label" for="barcodeRight">즉시적용</label>
                                                </div>
                                            </label>
                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <div class="d-flex">
                                                    <div class="input-icon width-full">
                                                        <input type="text" class="form-control barcode-search" id="barcodeSearch" name="barcodeSearch" placeholder="바코드 입력" />
                                                        <span class="input-icon-addon">
                                                    <i class="fa fa-search search-icon"></i>
                                                </span>
                                                    </div>
                                                    <button type="button" class="btn btn-border btn-custom btn-barcode btn-barcode-scan col-2 ml-1 mb-0" id="btnBarcodeScan">
                                                        <span class="fas fa-barcode"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-show-validation row">
                                            <label for="opBrnName" class="col-lg-2 col-md-2 col-sm-2 mt-sm-2 text-right">
                                                상품 <span class="required-label">*</span>
                                            </label>
                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <select class="form-control product-control" id="opPrdtName" name="opPrdtName" disabled></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-show-validation row">
                                            <label for="opAmount" class="col-lg-2 col-md-2 col-sm-2 mt-sm-2 text-right">
                                                수량 <span class="required-label">*</span>
                                            </label>
                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <input type="text" class="form-control product-control product-price" id="opAmount" name="opAmount" placeholder="수량" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group form-show-validation row">
                                            <label for="opUnitPrice" class="col-lg-2 col-md-2 col-sm-2 mt-sm-2 text-right">
                                                판매단가 <span class="required-label">*</span>
                                            </label>
                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <input type="text" class="form-control product-control product-price" id="opUnitPrice" name="opUnitPrice" placeholder="단가" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group form-show-validation row">
                                            <label for="opPrice" class="col-lg-2 col-md-2 col-sm-2 mt-sm-2 text-right">
                                                판매금액 <span class="required-label">*</span>
                                            </label>
                                            <div class="col-lg-10 col-md-10 col-sm-10">
                                                <input type="text" class="form-control product-control" id="opPrice" name="opPrice" placeholder="금액" disabled/>
                                                <div class="d-flex">
                                                    <button type="button" class="btn btn-border btn-custom btn-save mt-2 mb-0" id="btnSalesSave">적 용</button>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="float-right mt-1 mr-2">
                                            현재 수량 : <span class="current-amount font-weight-bold text-danger">0</span>개
                                        </h6>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div id="optmtRegTable"></div>
                                    </div>
                                </div>
                                <!--<div class="separator-solid"></div>-->
                            </form>
                            <form id="formCashPaymentOne" class="row">
                                <input type="hidden" id="salesId" name="salesId"/>
                                <input type="hidden" id="amount" name="amount"/>
                                <input type="hidden" id="originRcvPrice" name="originRcvPrice"/>
                                <input type="hidden" id="payStatus" name="payStatus"/>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group sales-date-container">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            매출일자 <span class="required-label">*</span>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-default-info" id="salesDate" name="salesDate" placeholder="매출일자"/>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar-check"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            담당자
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-default-info" id="mngName" name="mngName" placeholder="담당자"/>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group visit-date-container">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            방문예정
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-default-info" id="willVisitDate" name="willVisitDate" placeholder="방문예정"/>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar-check"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">현금영수증</span>
                                                    </div>
                                                    <select type="text" class="form-control pay-default-info text-center" id="cashReceiptYn" name="cashReceiptYn">
                                                        <option value="Y">발행</option>
                                                        <option value="N" selected>발행안함</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group form-show-validation row p-0">
                                                <textarea class="form-control" rows="5" id="memo" name="memo" placeholder="메모를 입력해주세요"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            카드
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-control text-right" id="cardPrice" name="cardPrice" placeholder="카드" value="0"/>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            현금
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-control text-right" id="cashPrice" name="cashPrice" placeholder="현금" value="0"/>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            상품권
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-control text-right" id="giftPrice" name="giftPrice" placeholder="상품권" value="0"/>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            할인
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-control text-right" id="salePrice" name="salePrice" placeholder="할인" value="0"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            금액합계
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-info text-primary text-right" id="sumPrice" name="sumPrice" placeholder="금액합계" value="0" readonly/>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            지불
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-info text-right" id="payPrice" name="payPrice" placeholder="지불" value="0" readonly/>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            할인
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-info text-right" id="paySalePrice" name="paySalePrice" placeholder="할인" value="0" readonly/>
                                                </div>
                                            </div>
                                            <div class="form-group p-0 mb-2">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text cust font-weight-bold">
                                                            미수금
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control pay-info text-danger text-right" id="rcvPrice" name="rcvPrice" placeholder="미수금" value="0" readonly/>
                                                </div>
                                            </div>
                                            <!--<div class="d-flex flex-column text-right">-->
                                                <!--<span class="font-weight-bold pr-2">-->
                                                    <!--매출합계 <span class="total-sales-price text-primary">0</span>원-->
                                                <!--</span>-->
                                                <!--<span class="font-weight-bold pr-2">-->
                                                    <!--미수금 <span class="rcv-price text-danger">0</span>원-->
                                                <!--</span>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <button type="button" id="btnOptometryPay" class="btn-add btn-custom-2">등 록</button>
                        <button type="button" id="btnOptometryPayModify" class="btn-add btn-custom-3 d-none">수 정</button>
                        <button type="button" id="btnOptometryPayDelete" class="btn-add btn-custom-2 d-none">삭 제</button>
                    </div>
                </div>
            </div>

            <!-- 검안매출 고객 분석 -->
            <!--<div class="card animated fadeIn mb-0 d-none" data-area="custAnalysis">-->
                <!--<div class="card-header">-->
                    <!--<div class="d-inline-flex align-items-center width-full">-->
                        <!--<span class="btn-prev icon-arrow-left mr-3" data-target="optmtList"></span>-->
                        <!--<div class="card-title">고객 분석</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card-body">-->

                <!--</div>-->
            <!--</div>-->

            <!-- 기타매출 신규등록 -->
            <div class="card animated fadeIn mb-0 d-none" data-area="extReg">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="optmtList"></span>
                        <div class="card-title">기타매출 등록</div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="formExtSales">
                        <input type="hidden" id="regSupId" name="regSupId" value="" />
                        <input type="hidden" id="regBrnId" name="regBrnId" value="" />
                        <input type="hidden" id="regPrdtId" name="regPrdtId" value="" />
                        <input type="hidden" id="regSupPrdtId" name="regSupPrdtId" value="" />
                        <div class="row">
                            <div class="col-md-5">
                                <h4 class="font-weight-bold">매출처/브랜드 정보</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="regSupName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        매출처 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control" id="regSupName" name="regSupName"></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regRepPhone" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        대표번호
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regRepPhone" name="regRepPhone" placeholder="대표번호" disabled=""/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regMngPhone" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        담당자번호
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regMngPhone" name="regMngPhone" placeholder="담당자번호" disabled=""/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regBrnName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        브랜드 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control" id="regBrnName" name="regBrnName"></select>
                                    </div>
                                </div>

                                <h4 class="font-weight-bold mt-2">상품 정보</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="regBrnName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        상품 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control product-control" id="regPrdtName" name="regPrdtName" disabled></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regBarcode" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        바코드
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control" id="regBarcode" name="regBarcode" placeholder="바코드" disabled />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regUnitPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        단가 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control product-price" id="regUnitPrice" name="regUnitPrice" placeholder="단가" disabled/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regAmount" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        수량 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control product-price" id="regAmount" name="regAmount" placeholder="수량" disabled/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        금액 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control" id="regPrice" name="regPrice" placeholder="금액" disabled/>
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-border btn-custom btn-save mt-2 mb-0" id="btnExtSave">적 용</button>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="float-right mr-2">
                                    가능 수량 : <span class="ext-current-amount font-weight-bold text-danger">0</span>개
                                </h6>
                            </div>
                            <div class="col-md-7">
                                <h4 class="d-flex justify-content-between font-weight-bold">
                                    거래내역
                                    <span class="sales-doc-number text-primary"></span>
                                </h4>
                                <div id="extRegTable"></div>
                            </div>
                        </div>
                        <!--<div class="separator-solid"></div>-->
                    </form>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <!--<button class="btn btn-primary" type="button" disabled>-->
                        <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                        <!--</button>-->
                        <button type="button" class="btn-reset btn-custom-3 mr-1" id="btnExtRegReset">초기화</button>
                        <button type="button" class="btn-add btn-custom-2" id="btnExtReg">추 가</button>
                    </div>
                </div>
            </div>

            <!-- 금전출납 고객별 납부 -->
            <div class="card animated fadeIn mb-0 d-none" data-area="optometryCustPay">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="optmtList"></span>
                        <div class="card-title">고객별 납부</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col">
                            <form id="formOptometryCust" class="total-cash-update-container">
                                <!-- 거래내역 등록일자 -->
                                <input type="hidden" id="searchCustId" name="custId"/>
                                <input type="hidden" id="startDateOne" name="startDate"/>
                                <input type="hidden" id="endDateOne" name="endDate"/>

                                <!-- 전체 거래기간 합계 -->
                                <label class="mb-4">
                                    <b class="by-cust-name text-danger mr-2"></b>
                                    <b>전체 거래기간 합계 (<span class="search-cash-date-2">2021-04-25 ~ 2021-05-25</span>)</b>
                                    <span class="btn-calendar-2 fas fa-calendar-alt ml-2"></span>
                                </label>

                                <h4 class="font-weight-bold">발주/반품 합계 정보</h4>
                                <div class="mb-3">
                                    <!-- 합계 테이블 -->
                                    <table class="table table-head-bg-info text-center total-cash-table mb-2">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="pl-0">거래 건수</th>
                                            <th scope="col" class="pl-0">총 매출액</th>
                                            <th scope="col" class="pl-0">총 미지급금</th>
                                            <th scope="col" class="pl-0">총 미수금</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="font-weight-bold pl-0 total-sales-cnt">0</td>
                                            <td class="font-weight-bold pl-0 total-sales-price">0</td>
                                            <td class="font-weight-bold pl-0 total-unpaid-price text-primary">0</td>
                                            <td class="font-weight-bold pl-0 total-rcv-price text-danger">0</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <h4 class="font-weight-bold">발주/반품 정보</h4>
                            <!-- 건별 납부 테이블 -->
                            <div id="optometryCustPayTable"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <h4 class="font-weight-bold">납부 내역</h4>
                            <!-- 납부 내역 테이블 -->
                            <div id="optometryCustPayHistoryTable"></div>
                        </div>
                        <div class="col-md-6">
                            <form id="formOptometryCustPay">
                                <input type="hidden" id="custSalesId" name="salesId"/>
                                <input type="hidden" id="custPayId" name="custId"/>
                                <input type="hidden" id="custPayYn" name="payYn"/>
                                <input type="hidden" id="custPayPrice" name="payPrice"/>
                                <input type="hidden" id="custPayStatus" name="payStatus"/>

                                <h4 class="font-weight-bold">납부 정보입력</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="custPayDate" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        납부일
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10 ">
                                        <div class="input-group date-picker-container-2">
                                            <input class="form-control pay-control" id="custPayDate" name="payDate" placeholder="납부일" />
                                            <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar-check"></i>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="cardPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        카드
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input class="form-control pay-control" id="custCardPrice" name="cardPrice" placeholder="카드" value="0" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="cashPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        현금
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input class="form-control pay-control" id="custCashPrice" name="cashPrice" placeholder="현금" value="0" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="giftPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        상품권
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input class="form-control pay-control" id="custGiftPrice" name="giftPrice" placeholder="상품권" value="0" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="salePrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        할인
                                    </label>
                                    <div class="col-lg-9 col-md-7 col-sm-10">
                                        <input class="form-control pay-control" id="custSalePrice" name="salePrice" placeholder="할인" value="0" />
                                    </div>
                                </div>
                                <div class="d-flex flex-column text-right">
                                    <span class="font-weight-bold pr-2">
                                        입력 합계금액 <span class="total-input-price text-primary">0</span>원
                                    </span>
                                    <span class="font-weight-bold pr-2">
                                        총 미납금 <span class="pay-price text-danger">0</span>원
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--<div class="separator-solid"></div>-->
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <!--<button class="btn btn-primary" type="button" disabled>-->
                        <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                        <!--</button>-->
                        <button type="button" id="btnOptometryCustPayReset" class="btn-reset btn-custom-3 mr-1">초기화</button>
                        <button type="button" id="btnOptometryCustPay" class="btn-add btn-custom-2">납부하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>