<!--
Description: 매출현황
User: kyle
Date: 2021-11-02
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/salesStatusInfo/salesStatusInfo.css}"/>
    <script th:src="@{/js/salesStatusInfo/salesStatusInfo.js}"></script>

    <div id="salesStatusInfo">
        <div class="page-inner p">
            <div class="page-header width-full">
                <h4 class="page-title">매출현황</h4>
                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a>
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>매출</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>매출현황</a>
                    </li>
                </ul>
            </div>

            <!-- 매출현황 거래내역 목록 화면 -->
            <div class="card animated fadeIn mb-0" data-area="salesStatusList">
                <div class="card-header">
                    <label class="ml-2 mb-2">
                        <b>검색조건</b>
                    </label>
                    <span class="btn-filter-reset float-right">
                        <i class="fas fa-times"></i>
                    </span>
                    <!-- 검색영역 -->
                    <form class="search-group">
                        <input type="hidden" id="supId" name="supId" value="" />
                        <input type="hidden" id="brnId" name="brnId" value="" />
                        <input type="hidden" id="prdtId" name="prdtId" value="" />
                        <input type="hidden" id="supPrdtId" name="supPrdtId" value="" />
                        <!-- 거래내역 등록일자 -->
                        <input type="hidden" id="startDate" name="startDate"/>
                        <input type="hidden" id="endDate" name="endDate"/>
                        <!-- 분류 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="salesTypeCode" name="salesTypeCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="salesTypeCode" class="placeholder">분류</label>
                        </div>
                        <!-- 상품구분 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="prdtDivCode" name="prdtDivCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtDivCode" class="placeholder">상품구분</label>
                        </div>
                        <!-- 매입처 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="supName" name="supName" required=""></select>
                        </div>
                        <!-- 브랜드 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="brnName" name="brnName" required=""></select>
                        </div>
                        <!-- 상품 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control product-control" id="prdtName" name="prdtName" required="" disabled></select>
                        </div>
                        <!-- 검색버튼 -->
                        <div class="buttons">
                            <button type="button" class="btn-select">검 색</button>
                        </div>
                    </form>
                </div>

                <!-- Table -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="total-sales-container mb-2">
                                <!-- 거래기간 합계 -->
                                <label class="mb-2">
                                    <b>거래기간 합계 (<span class="search-sales-date">2021-04-25 ~ 2021-05-25</span>)</b>
                                    <span class="btn-calendar fas fa-calendar-alt ml-2"></span>
                                </label>
                                <!-- 거래기간 합계 테이블 -->
                                <table class="table table-head-bg-info text-center total-sales-table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="pl-0">매입액 합 <span class="text-warning total-sales-count">(0)</span></th>
                                        <th scope="col" class="pl-0">입금액 합 <span class="text-warning sales-pay-count">(0)</span></th>
                                        <th scope="col" class="pl-0">할인액 합 <span class="text-warning sales-pay-count">(0)</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold border-bottom-0 pl-0 total-sales-price text-primary">0</td>
                                        <td class="font-weight-bold border-bottom-0 pl-0 total-pur-price">0</td>
                                        <td class="font-weight-bold border-bottom-0 pl-0 total-sale-price">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-head-bg-info text-center total-sales-table mb-4">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="pl-0">상품권액 합 <span class="text-warning sales-pay-count">(0)</span></th>
                                        <th scope="col" class="pl-0">미납액 합 <span class="text-warning total-rcv-count">(0)</span></th>
                                        <th scope="col" class="pl-0">반품액 합 <span class="text-warning total-return-count">(0)</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold pl-0 total-gift-price">0</td>
                                        <td class="font-weight-bold pl-0 total-rcv-price text-danger">0</td>
                                        <td class="font-weight-bold pl-0 total-return-price text-danger">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <label class="col-md-6 pl-0 pr-0 mb-2">
                                <b>검안매출 거래내역 <span class="result-cnt">0</span>건</b>
                            </label>
                            <!-- 매출현황 테이블 -->
                            <div id="salesStatusInfoTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>