<!--
Description: 회원가입
User: Olive
Date: 2022-05-16
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>CONNECT-EYE 회원가입</title>

    <!-- login.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/login/login.css}"/>
        <link rel="stylesheet" th:href="@{/css/common/fonts.css}" />
        <link rel="stylesheet" th:href="@{/css/common/atlantis.min.css}" />
    </th:block>

    <!-- login.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/login/login.js}"></script>
        <script th:src="@{/js/plugin/webfont/webfont.min.js}"></script>
        <!-- Webfont Load -->
        <script>
            WebFont.load({
                custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                    urls: ['/css/common/fontsCustom.css']},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>
    </th:block>
</head>
<body class="login">
    <div class="wrapper wrapper-login">
        <!-- 회원가입 컨테이너 -->
        <div class="container container-signup animated fadeIn active">
            <h3 class="text-center">회원가입</h3>
            <form class="signup-form" th:action="@{/signUp}" method="post">
                <input type="hidden" name="userDi" th:value="${session.NICE_AUTH_DUP_INFO}">
                <div class="signup-form">
                    <div class="form-group form-floating-label">
                        <input id="regUserId" name="userId" type="text" class="form-control input-border-bottom" required="">
                        <label for="regUserId" class="placeholder">아이디</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regEmail" name="email" type="email" class="form-control input-border-bottom" required="">
                        <label for="regEmail" class="placeholder">이메일</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regUserName" name="userName" type="text" class="form-control input-border-bottom" required="">
                        <label for="regUserName" class="placeholder">이름</label>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regPassword" name="userPassword" type="password" class="form-control input-border-bottom" required="">
                        <label for="regPassword" class="placeholder">비밀번호</label>
                        <div class="show-password">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <div class="form-group form-floating-label">
                        <input id="regConfirmPassword" name="regConfirmPassword" type="password" class="form-control input-border-bottom" required="">
                        <label for="regConfirmPassword" class="placeholder">비밀번호 확인</label>
                        <div class="show-password">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <div class="row form-sub m-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="agree" id="agree1">
                            <label class="custom-control-label" for="agree1">
                                <span class="text-danger">(필수)</span>
                                아이웨어 이용약관에 동의합니다.
                                <a>전체보기</a>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="agree" id="agree2">
                            <label class="custom-control-label" for="agree2">
                                <span class="text-danger">(필수)</span>
                                개인정보 수집 및 이용에 동의합니다.
                                <a>전체보기</a>
                            </label>
                        </div>
                    </div>
                    <div class="form-action">
                        <span class="btn btn-danger btn-link btn-login show-login mr-3">취 소</span>
                        <button class="btn btn-primary btn-rounded btn-login" type="submit">가입하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>