<!--
Description:
User: VNG
Date: 2021-11-02
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/standardInfo/standardInfo.css}"/>
    <script th:src="@{/js/standardInfo/standardInfo.js}"></script>

    <div id="standardInfo">
        <div class="page-inner p">
            <div class="page-header width-full">
                <h4 class="page-title">기준정보 목록</h4>
                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a>
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>기준정보</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>기준정보 목록</a>
                    </li>
                </ul>
            </div>

            <div class="card animated fadeIn mb-0" data-area="supList">
                <div class="card-header">
                    <label class="ml-2 mb-2">
                        <b>검색조건</b>
                    </label>
                    <!-- 검색영역 -->
                    <form class="search-group">
                        <!-- 상품구분 -->
                        <div class="form-group form-floating-label col-md-2">
                            <select class="form-control" id="prdtDivCode" name="prdtDivCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtDivCode" class="placeholder">상품구분</label>
                        </div>
                        <!-- 브랜드명 -->
                        <div class="form-group form-floating-label col-md-2">
                            <input id="brnName" type="text" class="form-control" name="brnName" required="" />
                            <label for="brnName" class="placeholder">브랜드명</label>
                        </div>
                        <!-- 상품명 -->
                        <div class="form-group form-floating-label col-md-2">
                            <input id="prdtName" type="text" class="form-control" name="prdtName" required="" />
                            <label for="prdtName" class="placeholder">상품명</label>
                        </div>
                        <!-- 상품색상 -->
                        <div class="form-group form-floating-label col-md-2">
                            <select class="form-control" id="prdtColorCode" name="prdtColorCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtColorCode" class="placeholder">색상</label>
                        </div>
                        <!-- 상품유형 -->
                        <div class="form-group form-floating-label col-md-2">
                            <select class="form-control" id="prdtTypeCode" name="prdtTypeCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtTypeCode" class="placeholder">유형</label>
                        </div>
                        <!-- 디자인유형 -->
                        <div class="form-group form-floating-label col-md-2">
                            <select class="form-control" id="prdtDesignCode" name="prdtDesignCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtDesignCode" class="placeholder">디자인</label>
                        </div>
                        <!-- 매입처명 -->
                        <div class="form-group form-floating-label col-md-2">
                            <input id="supName" type="text" class="form-control" name="supName" required="" />
                            <label for="supName" class="placeholder">매입처명</label>
                        </div>
                        <!-- 검색버튼 -->
                        <div class="buttons">
                            <button type="button" class="btn-select">검 색</button>
                        </div>
                    </form>
                </div>

                <!-- Table -->
                <div class="card-body">
                    <div class="row">
                        <!--<div class="col-md-3">-->
                            <!--&lt;!&ndash; 기준정보 요약 현황 &ndash;&gt;-->
                            <!--<label class="ml-2 mb-2">-->
                                <!--<b>기준정보 요약</b>-->
                            <!--</label>-->
                            <!--<ul class="list-group mb-2">-->
                                <!--<li class="list-group-item d-flex justify-content-between align-items-center supplier">-->
                                    <!--매입처-->
                                    <!--<span class="badge bg-primary rounded-pill">0</span>-->
                                <!--</li>-->
                                <!--<li class="list-group-item d-flex justify-content-between align-items-center brand">-->
                                    <!--브랜드-->
                                    <!--<span class="badge bg-primary rounded-pill">0</span>-->
                                <!--</li>-->
                                <!--<li class="list-group-item d-flex justify-content-between align-items-center product">-->
                                    <!--상품-->
                                    <!--<span class="badge bg-primary rounded-pill">0</span>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--&lt;!&ndash; 기준정보 요약 트리 &ndash;&gt;-->
                            <!--<div id="standardInfoTree" class="tui-tree-wrap mb-2"></div>-->
                        <!--</div>-->
                        <div class="col">
                            <label class="col-md-6 pl-0 pr-0 mb-2">
                                <b>상품목록 <span class="result-cnt">0</span>건</b>
                                <div class="result-select ml-2">
                                    <select class="form-control mr-1">
                                        <option selected value="7">기본</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select>
                                    <span>건씩 보기</span>
                                </div>
                            </label>
                            <div class="form-buttons mb-2">
                                <span class="btn btn-border btn-custom btn-reg-sup btn-xs" data-target="supReg">상품추가</span>
                                <!--<span class="btn btn-border btn-custom btn-del-sup btn-xs" data-target="supReg">선택삭제</span>-->
                            </div>
                            <!-- 기준정보 목록 테이블 -->
                            <div id="standardInfoTable" class="table-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card animated fadeIn mb-0 d-none" data-area="supReg">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="supList"></span>
                        <div class="card-title">기준정보 추가</div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="formSupPrdt" onsubmit="return false;">
                        <input type="hidden" name="regSupId" value="" />
                        <input type="hidden" name="regBrnId" value="" />
                        <input type="hidden" name="regPrdtId" value="" />
                        <input type="hidden" name="regSupPrdtId" value="" />
                        <div class="row">
                            <div class="sup-prdt-container col-md-4">
                                <h4 class="font-weight-bold">매입처/브랜드 정보</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="regSupName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        매입처 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control" id="regSupName" name="regSupName"></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regBrnName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        브랜드 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control" id="regBrnName" name="regBrnName"></select>
                                    </div>
                                </div>

                                <h4 class="font-weight-bold">상품 정보</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="regPrdtImage" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        상품사진
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="file" class="filepond" id="regPrdtImage" name="regPrdtImage" accept="image/jpg, image/jpeg, image/png"/>
                                    </div>
                                </div>

                                <div class="form-group form-show-validation row">
                                    <label for="regPrdtDivCode" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        구분 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control" id="regPrdtDivCode" name="regPrdtDivCode"></select>
                                    </div>
                                </div>

                                <div class="form-group form-show-validation row">
                                    <label for="regPrdtName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        상품명 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product" id="regPrdtName" name="regPrdtName" placeholder="상품명" />
                                    </div>
                                </div>

                                <div class="form-group form-show-validation row">
                                    <label for="regRemarks" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        비고
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product" id="regRemarks" name="regRemarks" placeholder="비고" />
                                    </div>
                                </div>

                                <div class="form-group form-show-validation row">
                                    <label for="regBarcode" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        바코드
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product" id="regBarcode" name="regBarcode" placeholder="바코드입력" />
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-border btn-custom btn-barcode mt-2 mr-1 mb-0" id="btnBarcode">자동 생성</button>
                                            <button type="button" class="btn btn-border btn-custom btn-barcode btn-barcode-scan mt-2 mb-0" id="btnBarcodeScan">
                                                <span class="fas fa-barcode mr-2"></span>
                                                스캔
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-show-validation row">
                                    <label for="regPurPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        매입단가 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product" id="regPurPrice" name="regPurPrice" placeholder="매입단가" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regSalesPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        판매단가 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product" id="regSalesPrice" name="regSalesPrice" placeholder="판매단가" />
                                    </div>
                                </div>

                                <div class="form-group form-show-validation row frames">
                                    <label for="regPrdtTypeCode" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        유형
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control product" id="regPrdtTypeCode" name="regPrdtTypeCode"></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row frames">
                                    <label for="regPrdtColorCode" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        색상
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control product" id="regPrdtColorCode" name="regPrdtColorCode"></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row frames">
                                    <label for="regPrdtDesignCode" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        디자인
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control product" id="regPrdtDesignCode" name="regPrdtDesignCode"></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation pt-0 row">
                                    <label class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right"></label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-border btn-custom btn-save mb-0" id="btnSave">적 용</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="reg-table-container col-md-8">
                                <div id="supRegTableWrap">
                                    <h4 class="font-weight-bold">추가내역</h4>
                                    <div id="supRegTable"></div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="separator-solid"></div>-->
                    </form>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <!--<button class="btn btn-primary" type="button" disabled>-->
                        <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                        <!--</button>-->
                        <button type="button" class="btn-excel btn-custom-3 mr-1">엑셀업로드</button>
                        <button type="button" class="btn-reset btn-custom-3 mr-1">초기화</button>
                        <button type="button" class="btn-add btn-custom-2">추 가</button>
                        <button type="button" class="btn-modify btn-custom-2">수 정</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>