<!--
Description: 재고현황
User: kyle
Date: 2021-11-02
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/stockStatusInfo/stockStatusInfo.css}"/>
    <script th:src="@{/js/stockStatusInfo/stockStatusInfo.js}"></script>

    <div id="stockStatusInfo">
        <div class="page-inner p">
            <div class="page-header width-full">
                <h4 class="page-title">재고현황</h4>
                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a>
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>재고</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>재고현황</a>
                    </li>
                </ul>
            </div>

            <div class="card animated fadeIn mb-0" data-area="stockStatusList">
                <div class="card-header">
                    <label class="ml-2 mb-2">
                        <b>검색조건</b>
                    </label>
                    <!-- 검색영역 -->
                    <form class="search-group">
                        <!-- 등록일자 -->
                        <input type="hidden" id="startDate" name="startDate"/>
                        <input type="hidden" id="endDate" name="endDate"/>
                        <!-- 재고구분 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="rpsTypeCode" name="rpsTypeCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="rpsTypeCode" class="placeholder">재고구분</label>
                        </div>
                        <!-- 매입처 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="supName" type="text" class="form-control" name="supName" required="" />
                            <label for="supName" class="placeholder">매입처명</label>
                        </div>
                        <!-- 상품구분 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="prdtDivCode" name="prdtDivCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtDivCode" class="placeholder">상품구분</label>
                        </div>
                        <!-- 브랜드명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="brnName" type="text" class="form-control" name="brnName" required="" />
                            <label for="brnName" class="placeholder">브랜드명</label>
                        </div>
                        <!-- 상품명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="prdtName" type="text" class="form-control" name="prdtName" required="" />
                            <label for="prdtName" class="placeholder">상품명</label>
                        </div>
                        <!-- 검색버튼 -->
                        <div class="buttons">
                            <button type="button" class="btn-select">검 색</button>
                        </div>
                    </form>
                </div>

                <!-- Table -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <label class="col-md-6 pl-0 pr-0 mb-2">
                                <b>전체 재고 목록 <span class="result-cnt">0</span>건</b>
                                <div class="result-select ml-2">
                                    <select class="form-control mr-1">
                                        <option selected value="7">기본</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select>
                                    <span>건씩 보기</span>
                                </div>
                            </label>
                            <div class="total-cash-container">
                                <!-- 입고일 기간 -->
                                <label class="mb-2">
                                    <b>입고일 기간 (<span class="search-stock-date">2021-04-25 ~ 2021-05-25</span>)</b>
                                    <span class="btn-calendar fas fa-calendar-alt ml-2"></span>
                                </label>
                            </div>
                            <!-- 재고현황 테이블 -->
                            <div id="stockStatusInfoTable"></div>
                        </div>
                        <div class="col-md-3 pt-3 pr-4 stock-status-info">
                            <div class="d-flex align-items-center justify-content-between">
                                <label><b>현재 재고 및 내역</b></label>
                                <h4 class="total-stock text-success fw-bold mb-0">0</h4>
                            </div>
                            <!--<div class="fluctuation">-->
                                <!--<div class="separator-dashed"></div>-->
                                <!--<div class="d-flex align-items-center">-->
                                    <!--<span class="fas fa-exchange-alt icon-stock-status mr-2"></span>-->
                                    <!--<div class="flex-1 pt-1 ml-2">-->
                                        <!--<h6 class="fw-bold mb-1">조정</h6>-->
                                        <!--&lt;!&ndash;<h6 class="modify-date mb-1"></h6>&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div class="d-flex flex-column align-items-center">-->
                                        <!--<h5 class="modify-stock fw-bold ml-auto mb-0">0</h5>-->
                                        <!--<h5 class="modify-stock-history text-dark fw-bold ml-auto mb-0"></h5>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="wearing">
                                <div class="separator-dashed"></div>
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-sign-in-alt icon-stock-status mr-2"></span>
                                    <div class="flex-1 pt-1 ml-2">
                                        <h6 class="fw-bold mb-1">입고</h6>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <h5 class="wrng-stock text-info fw-bold ml-auto mb-0">0</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="release">
                                <div class="separator-dashed"></div>
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-sign-out-alt icon-stock-status mr-2"></span>
                                    <div class="flex-1 pt-1 ml-2">
                                        <h6 class="fw-bold mb-1">출고</h6>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <h5 class="release-stock text-danger fw-bold ml-auto mb-0">0</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="cancel">
                                <div class="separator-dashed"></div>
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-sign-out-alt icon-stock-status mr-2"></span>
                                    <div class="flex-1 pt-1 ml-2">
                                        <h6 class="fw-bold mb-1">취소</h6>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <h5 class="cancel-stock text-danger fw-bold ml-auto mb-0">0</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="returning">
                                <div class="separator-dashed"></div>
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-sign-out-alt icon-stock-status mr-2"></span>
                                    <div class="flex-1 pt-1 ml-2">
                                        <h6 class="fw-bold mb-1">반품</h6>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <h5 class="return-stock text-danger fw-bold ml-auto mb-0">0</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="separator-dashed mb-0"></div>
                            <small class="text-danger float-right mt-2">*금일 기준 재고현황</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 재고수정 화면 -->
            <div class="card animated fadeIn mb-0 d-none" data-area="stockModify">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="stockStatusList"></span>
                        <div class="card-title">재고 수정</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col mb-4">
                            <h4 class="font-weight-bold">재고 정보</h4>
                            <!-- 재고수정 테이블 -->
                            <div id="stockModifyTable"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <h4 class="font-weight-bold">
                                입고/반품 이력
                            </h4>
                            <!-- 입고/반품 이력 테이블 -->
                            <div id="stockHistoryTable"></div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <h4 class="font-weight-bold">
                                출고 이력
                            </h4>
                            <!-- 출고 이력 테이블 -->
                            <div id="releaseHistoryTable"></div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <h4 class="font-weight-bold">
                                재고 수정
                            </h4>
                            <!-- 재고수정 이력 테이블 -->
                            <div id="stockModifyHistoryTable"></div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <button type="button" class="btn-reset btn-custom-3 mr-1" id="btnStockModifyReset">초기화</button>
                        <button type="button" class="btn-add btn-custom-2" id="btnStockModify">적 용</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>