<!--
Description: 매입처 목록
User: kyle
Date: 2022-01-12
-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/supplierInfo/supplierInfo.css}"/>
    <script th:src="@{/js/supplierInfo/supplierInfo.js}"></script>

    <div id="supplierInfo">
        <div class="page-inner p">
            <div class="page-header width-full">
                <h4 class="page-title">매입처 목록</h4>
                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a>
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>기준정보</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>매입처 목록</a>
                    </li>
                </ul>
            </div>

            <div class="card animated fadeIn mb-0" data-area="supList">
                <div class="card-header">
                    <label class="ml-2 mb-2">
                        <b>검색조건</b>
                    </label>
                    <!-- 검색영역 -->
                    <form class="search-group">
                        <!-- 매입처명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="supName" type="text" class="form-control" name="supName" required="" />
                            <label for="supName" class="placeholder">매입처</label>
                        </div>
                        <!-- 대표자명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="repName" type="text" class="form-control" name="repName" required="" />
                            <label for="repName" class="placeholder">대표자명</label>
                        </div>
                        <!-- 담당자명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="mgrName" type="text" class="form-control" name="mgrName" required="" />
                            <label for="mgrName" class="placeholder">담당자명</label>
                        </div>
                        <!-- 주소 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="address" type="text" class="form-control" name="address" required="" />
                            <label for="address" class="placeholder">주소</label>
                        </div>
                        <!-- 검색버튼 -->
                        <div class="buttons">
                            <button type="button" class="btn-select">검 색</button>
                        </div>
                    </form>
                </div>

                <!-- Table -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label class="col-md-6 pl-0 pr-0 mb-2">
                                <b>상품목록 <span class="result-cnt">0</span>건</b>
                                <div class="result-select ml-2">
                                    <select class="form-control mr-1">
                                        <option selected value="7">기본</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                    </select>
                                    <span>건씩 보기</span>
                                </div>
                            </label>
                            <div class="form-buttons mb-2">
                                <!--<span class="btn btn-border btn-custom btn-reg-excel btn-xs">엑셀업로드</span>-->
                                <span class="btn btn-border btn-custom btn-reg-sup btn-xs" data-target="supReg">매입처추가</span>
                                <!--<span class="btn btn-border btn-custom btn-del-sup btn-xs" data-target="supReg">선택삭제</span>-->
                            </div>
                            <!-- 매입처 목록 테이블 -->
                            <div id="supplierInfoTable" class="table-grid"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card animated fadeIn mb-0 d-none" data-area="supReg">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="supList"></span>
                        <div class="card-title">매입처 수정</div>
                    </div>
                </div>
                <!-- info -->
                <div class="card-body">
                    <form id="formSup">
                        <input type="hidden" name="regSupId" value="" />
                        <div class="row">
                            <h4 class="font-weight-bold width-full padding-left">매입처 정보</h4>
                            <div class="col-md-6">
                                <div class="form-group form-show-validation row">
                                    <label for="regSupName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        매입처 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regSupName" name="regSupName" placeholder="매입처명" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regRepName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        대표자
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regRepName" name="regRepName" placeholder="대표자명" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regRepPhone" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        대표번호
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regRepPhone" name="regRepPhone" placeholder="대표번호" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regAddress" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        주소
                                    </label>
                                    <div class="input-icon col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control search" id="regAddress" name="regAddress" placeholder="주소" />
                                        <span class="input-icon-addon form-group-icon">
                                            <i class="fa fa-search search-icon"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-show-validation row">
                                    <label for="regMgrName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        담당자
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regMgrName" name="regMgrName" placeholder="담당자명" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regMngPhone" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        담당자번호
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regMngPhone" name="regMngPhone" placeholder="담당자번호" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regFax" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        FAX
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control" id="regFax" name="regFax" placeholder="FAX번호" />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regComment" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        코멘트
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <textarea type="text" class="form-control" id="regComment" name="regComment" placeholder="코멘트 내용"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <!--<button class="btn btn-primary" type="button" disabled>-->
                        <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                        <!--</button>-->
                        <button type="button" class="btn-reset btn-custom-3 mr-1">초기화</button>
                        <button type="button" class="btn-add btn-custom-2">추 가</button>
                        <button type="button" class="btn-save btn-custom-2">수 정</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>

</html>