<!--
Description: 매입현황
User: kyle
Date: 2021-11-02
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="contents">
    <link rel="stylesheet" th:href="@{/css/supplierPurchaseInfo/supplierPurchaseInfo.css}"/>
    <script th:src="@{/js/supplierPurchaseInfo/supplierPurchaseInfo.js}"></script>

    <div id="supplierPurchaseInfo">
        <div class="page-inner p">
            <div class="page-header width-full">
                <h4 class="page-title">매입현황</h4>
                <!-- breadcrumbs -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a>
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>매입</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a>매입현황</a>
                    </li>
                </ul>
            </div>

            <!-- 매입현황 거래내역 목록 화면 -->
            <div class="card animated fadeIn mb-0" data-area="supPurList">
                <div class="card-header">
                    <label class="ml-2 mb-2">
                        <b>검색조건</b>
                    </label>
                    <!-- 검색영역 -->
                    <form class="search-group">
                        <!-- 거래내역 등록일자 -->
                        <input type="hidden" id="startDate" name="startDate"/>
                        <input type="hidden" id="endDate" name="endDate"/>
                        <!-- 진행단계 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="purStatCode" name="purStatCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="purStatCode" class="placeholder">진행단계</label>
                        </div>
                        <!-- 상품구분 -->
                        <div class="form-group form-floating-label col-md-3">
                            <select class="form-control" id="prdtDivCode" name="prdtDivCode" required="">
                                <option value="">&nbsp;</option>
                                <option value="">전체</option>
                            </select>
                            <label for="prdtDivCode" class="placeholder">상품구분</label>
                        </div>
                        <!-- 브랜드명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="brnName" type="text" class="form-control" name="brnName" required="" />
                            <label for="brnName" class="placeholder">브랜드명</label>
                        </div>
                        <!-- 상품명 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="prdtName" type="text" class="form-control" name="prdtName" required="" />
                            <label for="prdtName" class="placeholder">상품명</label>
                        </div>
                        <!-- 매입처 -->
                        <div class="form-group form-floating-label col-md-3">
                            <input id="supName" type="text" class="form-control" name="supName" required="" />
                            <label for="supName" class="placeholder">매입처명</label>
                        </div>
                        <!-- 검색버튼 -->
                        <div class="buttons">
                            <button type="button" class="btn-select">검 색</button>
                        </div>
                    </form>
                </div>

                <!-- Table -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="total-pur-container mb-2">
                                <!-- 거래기간 합계 -->
                                <label class="mb-2">
                                    <b>거래기간 합계 (<span class="search-pur-date">2021-04-25 ~ 2021-05-25</span>)</b>
                                    <span class="btn-calendar fas fa-calendar-alt ml-2"></span>
                                </label>
                                <!-- 거래기간 합계 테이블 -->
                                <table class="table table-head-bg-info text-center total-pur-table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="pl-0">매입액 합 <span class="text-warning pur-cnt1">(0)</span></th>
                                        <th scope="col" class="pl-0">반품액 합 <span class="text-warning pur-cnt3">(0)</span></th>
                                        <th scope="col" class="pl-0">위탁액 합 <span class="text-warning pur-cnt2">(0)</span></th>
                                        <th scope="col" class="pl-0">위탁반품액 합 <span class="text-warning pur-cnt4">(0)</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold border-bottom-0 pl-0 pur-sum1">0</td>
                                        <td class="font-weight-bold border-bottom-0 pl-0 pur-sum3 text-danger">0</td>
                                        <td class="font-weight-bold border-bottom-0 pl-0 pur-sum2 text-primary">0</td>
                                        <td class="font-weight-bold border-bottom-0 pl-0 pur-sum4">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-head-bg-info text-center pur-status-table mb-4">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="pl-0">완료</th>
                                        <th scope="col" class="pl-0">진행중</th>
                                        <th scope="col" class="pl-0">입고</th>
                                        <th scope="col" class="pl-0">대기</th>
                                        <th scope="col" class="pl-0">취소</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="font-weight-bold complete-cnt pl-0">0</td>
                                        <td class="font-weight-bold stady-cnt text-danger pl-0">0</td>
                                        <td class="font-weight-bold pur-cnt text-primary pl-0">0</td>
                                        <td class="font-weight-bold stady-cnt pl-0">0</td>
                                        <td class="font-weight-bold cancel-cnt pl-0">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <label class="col-md-6 pl-0 pr-0 mb-2">
                                <b>매입처 거래내역 <span class="result-cnt">0</span>건</b>
                            </label>
                            <div class="form-buttons mb-2">
                                <span class="btn btn-border btn-custom btn-reg-pur btn-xs" data-target="supPurReg">거래내역추가</span>
                                <span class="btn btn-border btn-custom btn-expand-all btn-xs">전체열기</span>
                                <span class="btn btn-border btn-custom btn-collapse-all btn-xs">전체닫기</span>
                            </div>
                            <!-- 매입현황 테이블 -->
                            <div id="supplierPurchaseInfoTable"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 매입현황 거래내역 추가 화면 -->
            <div class="card animated fadeIn mb-0 d-none" data-area="supPurReg">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="supPurList"></span>
                        <div class="card-title">거래내역 추가</div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="formSupPur">
                        <input type="hidden" id="regSupId" name="regSupId" value="" />
                        <input type="hidden" id="regBrnId" name="regBrnId" value="" />
                        <input type="hidden" id="regPrdtId" name="regPrdtId" value="" />
                        <input type="hidden" id="regSupPrdtId" name="regSupPrdtId" value="" />

                        <div class="row">
                            <div class="col-md-5">
                                <h4 class="font-weight-bold">거래내역 분류</h4>
                                <div class="col mt-3 mb-4">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="pur1" name="purStat" class="custom-control-input" value="BY101" checked/>
                                        <label class="custom-control-label" for="pur1">매입</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="pur2" name="purStat" class="custom-control-input" value="BY102"/>
                                        <label class="custom-control-label" for="pur2">위탁</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="pur3" name="purStat" class="custom-control-input" value="BY103"/>
                                        <label class="custom-control-label" for="pur3">반품</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="pur4" name="purStat" class="custom-control-input" value="BY104"/>
                                        <label class="custom-control-label" for="pur4">위탁반품</label>
                                    </div>
                                </div>

                                <h4 class="font-weight-bold">매입처/브랜드 정보</h4>
                                <div class="form-group form-show-validation row">
                                    <label for="regSupName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        매입처 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control" id="regSupName" name="regSupName"></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regBrnName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        브랜드 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control" id="regBrnName" name="regBrnName" disabled></select>
                                    </div>
                                </div>

                                <h4 class="font-weight-bold mt-2">상품 정보</h4>
                                <div class="form-group form-show-validation row">
                                    <div class="col-lg-3 col-md-3 col-sm-2 mt-sm-1 text-right">
                                        <div class="custom-control custom-checkbox mr-0">
                                            <input type="checkbox" id="barcodeRight" name="barcodeRight" class="custom-control-input" checked />
                                            <label class="custom-control-label" for="barcodeRight">즉시적용</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <div class="d-flex">
                                            <div class="input-icon width-full">
                                                <input type="text" class="form-control barcode-search" id="barcodeSearch" name="barcodeSearch" placeholder="바코드 입력" />
                                                <span class="input-icon-addon">
                                                    <i class="fa fa-search search-icon"></i>
                                                </span>
                                            </div>
                                            <button type="button" class="btn btn-border btn-custom btn-barcode btn-barcode-scan col-2 ml-1 mb-0" id="btnBarcodeScan">
                                                <span class="fas fa-barcode"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regPrdtName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        상품 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <select class="form-control product-control" id="regPrdtName" name="regPrdtName" disabled></select>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regBarcode" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        바코드
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control" id="regBarcode" name="regBarcode" placeholder="바코드" disabled />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regSalesPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        판매단가
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control" id="regSalesPrice" name="regSalesPrice" placeholder="판매단가" disabled/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regAmount" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        수량 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control product-price" id="regAmount" name="regAmount" placeholder="수량" disabled/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="regUnitPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        매입단가 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control product-price" id="regUnitPrice" name="regUnitPrice" placeholder="매입단가" disabled/>
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row mb-2">
                                    <label for="regPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        총 금액 <span class="required-label">*</span>
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input type="text" class="form-control product-control" id="regPrice" name="regPrice" placeholder="총 금액" disabled/>
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-border btn-custom btn-save mt-2 mb-0" id="btnSave">적 용</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h4 class="d-flex justify-content-between font-weight-bold">
                                    거래내역
                                    <span class="pur-doc-number text-primary"></span>
                                </h4>
                                <div id="supPurRegTable"></div>
                            </div>
                        </div>
                        <!--<div class="separator-solid"></div>-->
                    </form>
                </div>
                <div class="card-footer">
                    <div class="buttons">
                        <div class="form-check form-check-inline">
                            <div class="custom-control custom-checkbox mr-0">
                                <input type="checkbox" class="custom-control-input" id="purRightRegCheck" name="purRightRegCheck" value="RIGHT" checked/>
                                <label class="custom-control-label" for="purRightRegCheck">즉시입고</label>
                            </div>
                        </div>
                        <button type="button" class="btn-reset btn-custom-3 mr-1" id="btnSupPurRegReset">초기화</button>
                        <button type="button" class="btn-add btn-custom-2" id="btnSupPurReg">추 가</button>
                    </div>
                </div>
            </div>

            <!-- 매입현황 입고등록 화면 -->
            <div class="card animated fadeIn mb-0 d-none" data-area="purReg">
                <div class="card-header">
                    <div class="d-inline-flex align-items-center width-full">
                        <span class="btn-prev icon-arrow-left mr-3" data-target="supPurList"></span>
                        <div class="card-title">입고 등록 및 이력</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col mb-4">
                            <h4 class="font-weight-bold">발주 정보</h4>
                            <!-- 매입현황 입고등록 테이블 -->
                            <div id="purRegTable"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <input type="hidden" id="initPurId" name="purId" value="" />

                            <h4 class="font-weight-bold">
                                진행 내용
                            </h4>
                            <!-- 매입현황 진행 업데이트 선택된 값 -->
                            <form id="formPurReg">
                                <input type="hidden" id="purId" name="purId" value="" />
                                <input type="hidden" id="purTypeCode" name="purType" value="" />
                                <input type="hidden" id="purSupPrdtId" name="purSupPrdtId" value="" />
                                <input type="hidden" id="modStadyCnt" name="modStadyCnt" value="" />
                                <input type="hidden" id="modPurCnt" name="modPurCnt" value="" />

                                <div class="form-group form-show-validation row">
                                    <label for="purSupName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        매입처
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input class="form-control" id="purSupName" name="purSupName" disabled />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="purPrdtDiv" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        상품구분
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input class="form-control" id="purPrdtDiv" name="purPrdtDiv" disabled />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="purBrnName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        브랜드
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input class="form-control" id="purBrnName" name="purBrnName" disabled />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="purPrdtName" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        상품명
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input class="form-control" id="purPrdtName" name="purPrdtName" disabled />
                                    </div>
                                </div>
                                <div class="form-group form-show-validation row">
                                    <label for="purUnitPrice" class="col-lg-3 col-md-3 col-sm-2 mt-sm-2 text-right">
                                        단가
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-10">
                                        <input class="form-control" id="purUnitPrice" name="purUnitPrice" disabled />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 mb-4">
                            <h4 class="font-weight-bold">
                                진행 업데이트
                                <span>(대기 <span class="reg-stady-cnt text-primary">0</span>건 내 업데이트 가능)</span>
                            </h4>
                            <!-- 매입현황 진행 업데이트 테이블 -->
                            <div class="mb-2" id="progStatModifyTable"></div>
                            <div class="d-flex float-right">
                                <button type="button" class="btn-add btn-custom-3 mr-1" id="btnProgUpdate">추 가</button>
                                <button type="button" class="btn-add btn-custom-2" id="btnPurReg">등 록</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <h4 class="font-weight-bold">
                                입고 이력 <span class="text-success">(<span class="pur-history-cnt">0</span>)</span>
                            </h4>
                            <!-- 매입현황 입고 이력 테이블 -->
                            <div id="purHistoryTable"></div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <h4 class="font-weight-bold">
                                취소 이력 <span class="text-danger">(<span class="cancel-history-cnt">0</span>)</span>
                            </h4>
                            <!-- 매입현황 취소 이력 테이블 -->
                            <div id="cancelHistoryTable"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="card-footer">-->
                    <!--<div class="buttons">-->
                        <!--<button type="button" class="btn-reset btn-custom-3 mr-1" id="btnPurRegReset">초기화</button>-->
                        <!--<button type="button" class="btn-add btn-custom-2" id="btnPurReg">등 록</button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</th:block>
</html>