/**
* DEFAULT
* @author kyle
* @version 1.0
*/

/* ============================ DEFAULT ============================ */
.progress-wrap {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  margin-top: 52px;
  z-index: 9999;
}

.progress-contents {
  position: inherit;
  width: 100%;
  height: 4px;
}
