/**
* FORM
* @author kyle
* @version 1.0
*/

/* ============================ FORM ============================ */
.search-group {
  position: relative;
  display: flex;
}

.search-group > div:last-child {
  margin-right: 0;
}

.search-group .form-group {
  position: relative;
  display: inline-table;
  width: 100%;
  height: 38px;
  flex-shrink: 1;
}

.search-group .form-control {
  padding: 0.375rem 0.75rem;
}

@media all and (max-width: 768px) {
  .search-group {
    display: block;
  }
}
